# Data Wranglig for Capstone Two Project 
## Project: Loan Default Prediction

LendingClub is a US peer-to-peer lending company. It was the first peer-to-peer lender to offer loan trading on a secondary market. LendingClub is the world's largest peer-to-peer lending platform which specializes in lending various types of loans to urban customers. When the company receives a loan application, the company has to make a decision for loan approval based on the applicant’s profile. Identifying the customers who are prone to default their loan ensures the company to enhance its financial standing. Failure in approving those who do not have the required qualifications and rejecting the applications who are eligible for the loans result in financial losses. Developing an accurate predictive model is required for the success of applicant’s screening.

## 1. Import packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import missingno as msno
#from library.sb_utils import save_file

In [2]:
#! pip install missingno

In [3]:
pwd

'C:\\Users\\saeed.rafieepour\\Desktop\\Training\\Springboard DS Course\\7. Data Wrangling-Capstone 2 Project\\7.6 Data Wrangling capstone project two\\notebooks'

### Useful Functions

In [4]:
# description of some columns
def feature_descriptor(feat_names=['loan_amnt','funded_amnt','funded_amnt_inv']):
    """ Returns the features description having the features names"""
    LCDataDictionary = pd.read_excel(r"C:\Users\saeed.rafieepour\Desktop\Training\Springboard DS Course\7. Data Wrangling-Capstone 2 Project\7.6 Data Wrangling capstone project two\raw data\archive\LCDataDictionary.xlsx", sheet_name=None)
    df_desc = LCDataDictionary['LoanStats']
    indexed_feature_desc = df_desc.set_index('LoanStatNew')
    return indexed_feature_desc.loc[feat_names,'Description'].values

In [5]:
# separating object variables vs numeric variables
def data_type(df):
    float64_dtype = df.select_dtypes(include=['float64'])
    int64_dtype = df.select_dtypes(include=['int64'])
    object_dtype = df.select_dtypes(include=['object'])
    return {'float64_dtype':float64_dtype,'int64_dtype':int64_dtype, 'object_dtype':object_dtype}

In [6]:
def category_to_numeric_convertor(df):
    object_dtype = df.select_dtypes(include=['object'])
    object_dtype_cat = object_dtype.apply(lambda col:col.astype('category'))
    object_dtype_categorized = object_dtype_cat.apply(lambda col:col.cat.codes)
    return object_dtype_categorized

## 2. Data Collection

In [7]:
loan_data = pd.read_csv("C:\\Users\\saeed.rafieepour\\Desktop\\Training\\Springboard DS Course\\7. Data Wrangling-Capstone 2 Project\\7.6 Data Wrangling capstone project two\\raw data\\archive\\loan.csv")

C:\Users\saeed.rafieepour\AppData\Local\Temp\ipykernel_16000\1586605488.py:1: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data = pd.read_csv("C:\\Users\\saeed.rafieepour\\Desktop\\Training\\Springboard DS Course\\7. Data Wrangling-Capstone 2 Project\\7.6 Data Wrangling capstone project two\\raw data\\archive\\loan.csv")

In [8]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 2.4+ GB

In [10]:
loan_data.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,dti,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,0.0,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260664e+06,0.0,2.258957e+06,...,10613.0,10613.000000,10613.0,10613.000000,8426.000000,10613.000000,10613.000000,33056.000000,33056.000000,33056.000000
mean,NaN,NaN,1.504693e+04,1.504166e+04,1.502344e+04,1.309291e+01,4.458076e+02,7.799243e+04,NaN,1.882420e+01,...,3.0,155.006696,3.0,13.686422,454.840802,11628.036442,193.606331,5030.606922,47.775600,13.148596
std,NaN,NaN,9.190245e+03,9.188413e+03,9.192332e+03,4.832114e+00,2.671737e+02,1.126962e+05,NaN,1.418333e+01,...,0.0,129.113137,0.0,9.728138,375.830737,7615.161123,198.694368,3692.027842,7.336379,8.192319
min,NaN,NaN,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,NaN,-1.000000e+00,...,3.0,0.640000,3.0,0.000000,1.920000,55.730000,0.010000,44.210000,0.200000,0.000000
25%,NaN,NaN,8.000000e+03,8.000000e+03,8.000000e+03,9.490000e+00,2.516500e+02,4.600000e+04,NaN,1.189000e+01,...,3.0,59.370000,3.0,5.000000,174.967500,5628.730000,43.780000,2227.000000,45.000000,6.000000
50%,NaN,NaN,1.290000e+04,1.287500e+04,1.280000e+04,1.262000e+01,3.779900e+02,6.500000e+04,NaN,1.784000e+01,...,3.0,119.040000,3.0,15.000000,352.605000,10044.220000,132.890000,4172.855000,45.000000,14.000000
75%,NaN,NaN,2.000000e+04,2.000000e+04,2.000000e+04,1.599000e+01,5.933200e+02,9.300000e+04,NaN,2.449000e+01,...,3.0,213.260000,3.0,22.000000,622.792500,16114.940000,284.180000,6870.782500,50.000000,18.000000
max,NaN,NaN,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.100000e+08,NaN,9.990000e+02,...,3.0,943.940000,3.0,37.000000,2680.890000,40306.410000,1407.860000,33601.000000,521.350000,181.000000

In [11]:
#loan_data.columns
print(loan_data.columns.sort_values(ascending=True))

Index(['acc_now_delinq', 'acc_open_past_24mths', 'addr_state', 'all_util',
       'annual_inc', 'annual_inc_joint', 'application_type', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util',
       ...
       'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee',
       'total_rec_prncp', 'total_rev_hi_lim', 'url', 'verification_status',
       'verification_status_joint', 'zip_code'],
      dtype='object', length=145)

### Checking for data types

In [12]:
# data types
loan_data.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 145, dtype: object

In [13]:
# Showing all data types to distinguish categorial data types
loan_data.head(10)
pd.set_option('display.max_columns', loan_data.head().shape[1]+1)
print(loan_data.head())

   id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0 NaN        NaN       2500         2500           2500.0   36 months
1 NaN        NaN      30000        30000          30000.0   60 months
2 NaN        NaN       5000         5000           5000.0   36 months
3 NaN        NaN       4000         4000           4000.0   36 months
4 NaN        NaN      30000        30000          30000.0   60 months

   int_rate  installment grade sub_grade       emp_title emp_length  \
0     13.56        84.92     C        C1            Chef  10+ years
1     18.94       777.23     D        D2     Postmaster   10+ years
2     17.97       180.69     D        D1  Administrative    6 years
3     18.94       146.51     D        D2   IT Supervisor  10+ years
4     16.14       731.78     C        C4        Mechanic  10+ years

  home_ownership  annual_inc verification_status   issue_d loan_status  \
0           RENT     55000.0        Not Verified  Dec-2018     Current
1       MORTGAGE     90000.0     Source Verified  Dec-2018     Current
2       MORTGAGE     59280.0     Source Verified  Dec-2018     Current
3       MORTGAGE     92000.0     Source Verified  Dec-2018     Current
4       MORTGAGE     57250.0        Not Verified  Dec-2018     Current

  pymnt_plan  url desc             purpose               title zip_code  \
0          n  NaN  NaN  debt_consolidation  Debt consolidation    109xx
1          n  NaN  NaN  debt_consolidation  Debt consolidation    713xx
2          n  NaN  NaN  debt_consolidation  Debt consolidation    490xx
3          n  NaN  NaN  debt_consolidation  Debt consolidation    985xx
4          n  NaN  NaN  debt_consolidation  Debt consolidation    212xx

  addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  \
0         NY  18.24          0.0         Apr-2001             1.0
1         LA  26.52          0.0         Jun-1987             0.0
2         MI  10.51          0.0         Apr-2011             0.0
3         WA  16.74          0.0         Feb-2006             0.0
4         MD  26.35          0.0         Dec-2000             0.0

   mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  \
0                     NaN                    45.0       9.0      1.0
1                    71.0                    75.0      13.0      1.0
2                     NaN                     NaN       8.0      0.0
3                     NaN                     NaN      10.0      0.0
4                     NaN                     NaN      12.0      0.0

   revol_bal  revol_util  total_acc initial_list_status  out_prncp  \
0       4341        10.3       34.0                   w    2386.02
1      12315        24.2       44.0                   w   29387.75
2       4599        19.1       13.0                   w    4787.21
3       5468        78.1       13.0                   w    3831.93
4        829         3.6       26.0                   w   29339.02

   out_prncp_inv  total_pymnt  total_pymnt_inv  total_rec_prncp  \
0        2386.02       167.02           167.02           113.98
1       29387.75      1507.11          1507.11           612.25
2        4787.21       353.89           353.89           212.79
3        3831.93       286.71           286.71           168.07
4       29339.02      1423.21          1423.21           660.98

   total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee  \
0          53.04                 0.0         0.0                      0.0
1         894.86                 0.0         0.0                      0.0
2         141.10                 0.0         0.0                      0.0
3         118.64                 0.0         0.0                      0.0
4         762.23                 0.0         0.0                      0.0

  last_pymnt_d  last_pymnt_amnt next_pymnt_d last_credit_pull_d  \
0     Feb-2019            84.92     Mar-2019           Feb-2019
1     Feb-2019           777.23     Mar-2019           Feb-2019
2     Feb-2019           180.69     Mar-2019           Feb-2019
3     Feb-2019           146.51     Mar-2019           Feb-2019
4     Feb-2019           731.78     Mar-2019           Feb-2019

   collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
0                         0.0                          NaN            1
1                         0.0                          NaN            1
2                         0.0                          NaN            1
3                         0.0                          NaN            1
4                         0.0                          NaN            1

  application_type  annual_inc_joint  dti_joint verification_status_joint  \
0       Individual               NaN        NaN                       NaN
1       Individual               NaN        NaN                       NaN
2       Individual               NaN        NaN                       NaN
3       Individual               NaN        NaN                       NaN
4       Individual               NaN        NaN                       NaN

   acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_act_il  \
0             0.0           0.0      16901.0          2.0          2.0
1             0.0        1208.0     321915.0          4.0          4.0
2             0.0           0.0     110299.0          0.0          1.0
3             0.0         686.0     305049.0          1.0          5.0
4             0.0           0.0     116007.0          3.0          5.0

   open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  \
0          1.0          2.0                 2.0       12560.0     69.0
1          2.0          3.0                 3.0       87153.0     88.0
2          0.0          2.0                14.0        7150.0     72.0
3          3.0          5.0                 5.0       30683.0     68.0
4          3.0          5.0                 4.0       28845.0     89.0

   open_rv_12m  open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  \
0          2.0          7.0      2137.0      28.0           42000.0     1.0
1          4.0          5.0       998.0      57.0           50800.0     2.0
2          0.0          2.0         0.0      35.0           24100.0     1.0
3          0.0          0.0      3761.0      70.0            7000.0     2.0
4          2.0          4.0       516.0      54.0           23100.0     1.0

   total_cu_tl  inq_last_12m  acc_open_past_24mths  avg_cur_bal  \
0         11.0           2.0                   9.0       1878.0
1         15.0           2.0                  10.0      24763.0
2          5.0           0.0                   4.0      18383.0
3          4.0           3.0                   5.0      30505.0
4          0.0           0.0                   9.0       9667.0

   bc_open_to_buy  bc_util  chargeoff_within_12_mths  delinq_amnt  \
0         34360.0      5.9                       0.0          0.0
1         13761.0      8.3                       0.0          0.0
2         13800.0      0.0                       0.0          0.0
3          1239.0     75.2                       0.0          0.0
4          8471.0      8.9                       0.0          0.0

   mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  \
0               140.0                 212.0                    1.0
1               163.0                 378.0                    4.0
2                87.0                  92.0                   15.0
3                62.0                 154.0                   64.0
4                53.0                 216.0                    2.0

   mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  mths_since_recent_bc_dlq  \
0             1.0       0.0                   1.0                       NaN
1             3.0       3.0                   4.0                       NaN
2            14.0       2.0                  77.0                       NaN
3             5.0       3.0                  64.0                       NaN
4             2.0       2.0                   2.0                       NaN

   mths_since_recent_inq  mths_since_recent_revol_delinq  \
0                    2.0                             NaN
1                    4.0                             NaN
2                   14.0                             NaN
3                    5.0                             NaN
4                   13.0                             NaN

   num_accts_ever_120_pd  num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  \
0                    0.0             2.0              5.0          3.0
1                    0.0             2.0              4.0          4.0
2                    0.0             0.0              3.0          3.0
3                    0.0             1.0              2.0          1.0
4                    0.0             2.0              2.0          3.0

   num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts  num_rev_tl_bal_gt_0  \
0        3.0       16.0            7.0           18.0                  5.0
1        9.0       27.0            8.0           14.0                  4.0
2        3.0        4.0            6.0            7.0                  3.0
3        2.0        7.0            2.0            3.0                  2.0
4        8.0        9.0            6.0           15.0                  2.0

   num_sats  num_tl_120dpd_2m  num_tl_30dpd  num_tl_90g_dpd_24m  \
0       9.0               0.0           0.0                 0.0
1      13.0               0.0           0.0                 0.0
2       8.0               0.0           0.0                 0.0
3      10.0               0.0           0.0                 0.0
4      12.0               0.0           0.0                 0.0

   num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies  \
0                 3.0           100.0               0.0                   1.0
1                 6.0            95.0               0.0                   1.0
2                 0.0           100.0               0.0                   0.0
3                 3.0           100.0             100.0                   0.0
4                 5.0            92.3               0.0                   0.0

   tax_liens  tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  \
0        0.0          60124.0            16901.0         36500.0
1        0.0         372872.0            99468.0         15000.0
2        0.0         136927.0            11749.0         13800.0
3        0.0         385183.0            36151.0          5000.0
4        0.0         157548.0            29674.0          9300.0

   total_il_high_credit_limit  revol_bal_joint sec_app_earliest_cr_line  \
0                     18124.0              NaN                      NaN
1                     94072.0              NaN                      NaN
2                     10000.0              NaN                      NaN
3                     44984.0              NaN                      NaN
4                     32332.0              NaN                      NaN

   sec_app_inq_last_6mths  sec_app_mort_acc  sec_app_open_acc  \
0                     NaN               NaN               NaN
1                     NaN               NaN               NaN
2                     NaN               NaN               NaN
3                     NaN               NaN               NaN
4                     NaN               NaN               NaN

   sec_app_revol_util  sec_app_open_act_il  sec_app_num_rev_accts  \
0                 NaN                  NaN                    NaN
1                 NaN                  NaN                    NaN
2                 NaN                  NaN                    NaN
3                 NaN                  NaN                    NaN
4                 NaN                  NaN                    NaN

   sec_app_chargeoff_within_12_mths  sec_app_collections_12_mths_ex_med  \
0                               NaN                                 NaN
1                               NaN                                 NaN
2                               NaN                                 NaN
3                               NaN                                 NaN
4                               NaN                                 NaN

   sec_app_mths_since_last_major_derog hardship_flag hardship_type  \
0                                  NaN             N           NaN
1                                  NaN             N           NaN
2                                  NaN             N           NaN
3                                  NaN             N           NaN
4                                  NaN             N           NaN

  hardship_reason hardship_status  deferral_term  hardship_amount  \
0             NaN             NaN            NaN              NaN
1             NaN             NaN            NaN              NaN
2             NaN             NaN            NaN              NaN
3             NaN             NaN            NaN              NaN
4             NaN             NaN            NaN              NaN

  hardship_start_date hardship_end_date payment_plan_start_date  \
0                 NaN               NaN                     NaN
1                 NaN               NaN                     NaN
2                 NaN               NaN                     NaN
3                 NaN               NaN                     NaN
4                 NaN               NaN                     NaN

   hardship_length  hardship_dpd hardship_loan_status  \
0              NaN           NaN                  NaN
1              NaN           NaN                  NaN
2              NaN           NaN                  NaN
3              NaN           NaN                  NaN
4              NaN           NaN                  NaN

   orig_projected_additional_accrued_interest  hardship_payoff_balance_amount  \
0                                         NaN                             NaN
1                                         NaN                             NaN
2                                         NaN                             NaN
3                                         NaN                             NaN
4                                         NaN                             NaN

   hardship_last_payment_amount disbursement_method debt_settlement_flag  \
0                           NaN                Cash                    N
1                           NaN                Cash                    N
2                           NaN                Cash                    N
3                           NaN                Cash                    N
4                           NaN                Cash                    N

  debt_settlement_flag_date settlement_status settlement_date  \
0                       NaN               NaN             NaN
1                       NaN               NaN             NaN
2                       NaN               NaN             NaN
3                       NaN               NaN             NaN
4                       NaN               NaN             NaN

   settlement_amount  settlement_percentage  settlement_term
0                NaN                    NaN              NaN
1                NaN                    NaN              NaN
2                NaN                    NaN              NaN
3                NaN                    NaN              NaN
4                NaN                    NaN              NaN

In [14]:
# category data types:
'''
1. term 
2. grade
3. subgrade
4. emp_title 
5. emp_length
6. home_ownership  
7. verification_status   
8. loan_status  
9. pymnt_plan  
10. purpose
11. title
12. hardship_flag 
13. disbursement_method 
14. debt_settlement_flag  
15. zip_code
16. addr_state

'''

'\n1. term \n2. grade\n3. subgrade\n4. emp_title \n5. emp_length\n6. home_ownership  \n7. verification_status   \n8. loan_status  \n9. pymnt_plan  \n10. purpose\n11. title\n12. hardship_flag \n13. disbursement_method \n14. debt_settlement_flag  \n15. zip_code\n16. addr_state\n\n'

In [15]:
[data_type(loan_data)[i].shape for i in data_type(loan_data).keys()]

[(2260668, 105), (2260668, 4), (2260668, 36)]

In [16]:
data_type(loan_data)

{'float64_dtype':          id  member_id  funded_amnt_inv  int_rate  installment  annual_inc  \
 0       NaN        NaN           2500.0     13.56        84.92     55000.0
 1       NaN        NaN          30000.0     18.94       777.23     90000.0
 2       NaN        NaN           5000.0     17.97       180.69     59280.0
 3       NaN        NaN           4000.0     18.94       146.51     92000.0
 4       NaN        NaN          30000.0     16.14       731.78     57250.0
 ...      ..        ...              ...       ...          ...         ...
 2260663 NaN        NaN          12000.0     14.08       279.72     58000.0
 2260664 NaN        NaN          12000.0     25.82       358.01     30000.0
 2260665 NaN        NaN          10000.0     11.99       332.10     64000.0
 2260666 NaN        NaN          12000.0     21.45       327.69     60000.0
 2260667 NaN        NaN          16550.0     21.45       451.94     60000.0

          url    dti  delinq_2yrs  inq_last_6mths  mths_since_last_delinq  \
 0        NaN  18.24          0.0             1.0                     NaN
 1        NaN  26.52          0.0             0.0                    71.0
 2        NaN  10.51          0.0             0.0                     NaN
 3        NaN  16.74          0.0             0.0                     NaN
 4        NaN  26.35          0.0             0.0                     NaN
 ...      ...    ...          ...             ...                     ...
 2260663  NaN  20.88          0.0             0.0                     NaN
 2260664  NaN  19.28          3.0             1.0                    13.0
 2260665  NaN  12.96          0.0             0.0                     NaN
 2260666  NaN  30.82          2.0             1.0                     7.0
 2260667  NaN  18.40          0.0             1.0                     NaN

          mths_since_last_record  open_acc  pub_rec  revol_util  total_acc  \
 0                          45.0       9.0      1.0        10.3       34.0
 1                          75.0      13.0      1.0        24.2       44.0
 2                           NaN       8.0      0.0        19.1       13.0
 3                           NaN      10.0      0.0        78.1       13.0
 4                           NaN      12.0      0.0         3.6       26.0
 ...                         ...       ...      ...         ...        ...
 2260663                     NaN      12.0      0.0        39.2       34.0
 2260664                     NaN      10.0      0.0        20.2       26.0
 2260665                     NaN       6.0      0.0        70.9       13.0
 2260666                     NaN       8.0      0.0        34.9       17.0
 2260667                     NaN      13.0      0.0        50.8       14.0

          out_prncp  out_prncp_inv   total_pymnt  total_pymnt_inv  \
 0          2386.02        2386.02    167.020000           167.02
 1         29387.75       29387.75   1507.110000          1507.11
 2          4787.21        4787.21    353.890000           353.89
 3          3831.93        3831.93    286.710000           286.71
 4         29339.02       29339.02   1423.210000          1423.21
 ...            ...            ...           ...              ...
 2260663    8687.20        8687.20   5360.960000          5360.96
 2260664       0.00           0.00  14499.802172         14499.80
 2260665    5993.27        5993.27   5306.940000          5306.94
 2260666    9924.69        9924.69   5207.290000          5207.29
 2260667   13541.01       13541.01   7355.500000          7355.50

          total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  \
 0                 113.98          53.04                 0.0         0.0
 1                 612.25         894.86                 0.0         0.0
 2                 212.79         141.10                 0.0         0.0
 3                 168.07         118.64                 0.0         0.0
 4                 660.98         762.23                 0.0         0.0
 ...                  ...            ...                 ...         ...
 2260663          3312.80        2048.16                 0.0         0.0
 2260664         12000.00        2499.80                 0.0         0.0
 2260665          4006.73        1300.21                 0.0         0.0
 2260666          2075.31        3131.98                 0.0         0.0
 2260667          3008.99        4346.51                 0.0         0.0

          collection_recovery_fee  last_pymnt_amnt  collections_12_mths_ex_med  \
 0                            0.0            84.92                         0.0
 1                            0.0           777.23                         0.0
 2                            0.0           180.69                         0.0
 3                            0.0           146.51                         0.0
 4                            0.0           731.78                         0.0
 ...                          ...              ...                         ...
 2260663                      0.0           279.72                         0.0
 2260664                      0.0           182.74                         0.0
 2260665                      0.0           332.10                         1.0
 2260666                      0.0           327.69                         0.0
 2260667                      0.0           500.00                         0.0

          mths_since_last_major_derog  annual_inc_joint  dti_joint  \
 0                                NaN               NaN        NaN
 1                                NaN               NaN        NaN
 2                                NaN               NaN        NaN
 3                                NaN               NaN        NaN
 4                                NaN               NaN        NaN
 ...                              ...               ...        ...
 2260663                          NaN               NaN        NaN
 2260664                         46.0          135000.0       7.36
 2260665                          NaN               NaN        NaN
 2260666                          NaN               NaN        NaN
 2260667                          NaN               NaN        NaN

          acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_act_il  \
 0                   0.0           0.0      16901.0          2.0          2.0
 1                   0.0        1208.0     321915.0          4.0          4.0
 2                   0.0           0.0     110299.0          0.0          1.0
 3                   0.0         686.0     305049.0          1.0          5.0
 4                   0.0           0.0     116007.0          3.0          5.0
 ...                 ...           ...          ...          ...          ...
 2260663             0.0        7921.0      45212.0          2.0          2.0
 2260664             0.0         550.0     346404.0          0.0          1.0
 2260665             0.0          77.0     189735.0          1.0          2.0
 2260666             0.0         535.0      65238.0          2.0          4.0
 2260667             0.0           0.0      25760.0          2.0          0.0

          open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  \
 0                1.0          2.0                 2.0       12560.0     69.0
 1                2.0          3.0                 3.0       87153.0     88.0
 2                0.0          2.0                14.0        7150.0     72.0
 3                3.0          5.0                 5.0       30683.0     68.0
 4                3.0          5.0                 4.0       28845.0     89.0
 ...              ...          ...                 ...           ...      ...
 2260663          0.0          1.0                24.0       35620.0     36.0
 2260664          1.0          1.0                 8.0        9431.0     78.0
 2260665          1.0          2.0                 3.0       29354.0    100.0
 2260666          2.0          3.0                 4.0       52311.0     64.0
 2260667          0.0          0.0                 NaN           0.0      NaN

          open_rv_12m  open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  \
 0                2.0          7.0      2137.0      28.0           42000.0
 1                4.0          5.0       998.0      57.0           50800.0
 2                0.0          2.0         0.0      35.0           24100.0
 3                0.0          0.0      3761.0      70.0            7000.0
 4                2.0          4.0       516.0      54.0           23100.0
 ...              ...          ...         ...       ...               ...
 2260663          3.0          4.0      4052.0      38.0           24500.0
 2260664          0.0          3.0      2238.0      44.0           17300.0
 2260665          0.0          1.0      1864.0      93.0           10000.0
 2260666          1.0          2.0      2406.0      55.0           37000.0
 2260667          3.0          8.0      6158.0      51.0           50700.0

          inq_fi  total_cu_tl  inq_last_12m  acc_open_past_24mths  avg_cur_bal  \
 0           1.0         11.0           2.0                   9.0       1878.0
 1           2.0         15.0           2.0                  10.0      24763.0
 2           1.0          5.0           0.0                   4.0      18383.0
 3           2.0          4.0           3.0                   5.0      30505.0
 4           1.0          0.0           0.0                   9.0       9667.0
 ...         ...          ...           ...                   ...          ...
 2260663     2.0          2.0           1.0                   5.0       4110.0
 2260664     5.0          1.0           7.0                   4.0      34640.0
 2260665     0.0          0.0           3.0                   3.0      31623.0
 2260666     0.0         12.0           4.0                   5.0       8155.0
 2260667     0.0          0.0           2.0                   8.0       1982.0

          bc_open_to_buy  bc_util  chargeoff_within_12_mths  delinq_amnt  \
 0               34360.0      5.9                       0.0          0.0
 1               13761.0      8.3                       0.0          0.0
 2               13800.0      0.0                       0.0          0.0
 3                1239.0     75.2                       0.0          0.0
 4                8471.0      8.9                       0.0          0.0
 ...                 ...      ...                       ...          ...
 2260663          1807.0     70.9                       0.0          0.0
 2260664          9162.0     19.6                       0.0          0.0
 2260665           136.0     93.2                       0.0          0.0
 2260666         18789.0     14.6                       0.0          0.0
 2260667          9816.0     49.7                       0.0          0.0

          mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  \
 0                     140.0                 212.0                    1.0
 1                     163.0                 378.0                    4.0
 2                      87.0                  92.0                   15.0
 3                      62.0                 154.0                   64.0
 4                      53.0                 216.0                    2.0
 ...                     ...                   ...                    ...
 2260663               157.0                 164.0                    1.0
 2260664               163.0                 174.0                   16.0
 2260665               134.0                 271.0                   15.0
 2260666               170.0                  67.0                    4.0
 2260667                 NaN                  41.0                    3.0

          mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  \
 0                   1.0       0.0                   1.0
 1                   3.0       3.0                   4.0
 2                  14.0       2.0                  77.0
 3                   5.0       3.0                  64.0
 4                   2.0       2.0                   2.0
 ...                 ...       ...                   ...
 2260663             1.0       2.0                   9.0
 2260664             8.0       4.0                 141.0
 2260665             3.0       3.0                 111.0
 2260666             4.0       0.0                  16.0
 2260667             3.0       0.0                  10.0

          mths_since_recent_bc_dlq  mths_since_recent_inq  \
 0                             NaN                    2.0
 1                             NaN                    4.0
 2                             NaN                   14.0
 3                             NaN                    5.0
 4                             NaN                   13.0
 ...                           ...                    ...
 2260663                       NaN                    9.0
 2260664                      46.0                    0.0
 2260665                       NaN                    3.0
 2260666                       9.0                    5.0
 2260667                       NaN                    0.0

          mths_since_recent_revol_delinq  num_accts_ever_120_pd  \
 0                                   NaN                    0.0
 1                                   NaN                    0.0
 2                                   NaN                    0.0
 3                                   NaN                    0.0
 4                                   NaN                    0.0
 ...                                 ...                    ...
 2260663                             NaN                    0.0
 2260664                            17.0                    2.0
 2260665                             NaN                    0.0
 2260666                             7.0                    0.0
 2260667                             NaN                    0.0

          num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  num_bc_tl  num_il_tl  \
 0                   2.0              5.0          3.0        3.0       16.0
 1                   2.0              4.0          4.0        9.0       27.0
 2                   0.0              3.0          3.0        3.0        4.0
 3                   1.0              2.0          1.0        2.0        7.0
 4                   2.0              2.0          3.0        8.0        9.0
 ...                 ...              ...          ...        ...        ...
 2260663             2.0              4.0          3.0        9.0       11.0
 2260664             1.0              4.0          2.0        5.0        4.0
 2260665             1.0              3.0          1.0        2.0        4.0
 2260666             2.0              3.0          2.0        3.0       12.0
 2260667             5.0             12.0          5.0        5.0        0.0

          num_op_rev_tl  num_rev_accts  num_rev_tl_bal_gt_0  num_sats  \
 0                  7.0           18.0                  5.0       9.0
 1                  8.0           14.0                  4.0      13.0
 2                  6.0            7.0                  3.0       8.0
 3                  2.0            3.0                  2.0      10.0
 4                  6.0           15.0                  2.0      12.0
 ...                ...            ...                  ...       ...
 2260663           10.0           21.0                  4.0      12.0
 2260664            7.0           18.0                  4.0      10.0
 2260665            3.0            6.0                  3.0       6.0
 2260666            4.0            5.0                  3.0       8.0
 2260667           13.0           14.0                 12.0      13.0

          num_tl_120dpd_2m  num_tl_30dpd  num_tl_90g_dpd_24m  \
 0                     0.0           0.0                 0.0
 1                     0.0           0.0                 0.0
 2                     0.0           0.0                 0.0
 3                     0.0           0.0                 0.0
 4                     0.0           0.0                 0.0
 ...                   ...           ...                 ...
 2260663               0.0           0.0                 0.0
 2260664               0.0           0.0                 0.0
 2260665               0.0           0.0                 0.0
 2260666               0.0           0.0                 0.0
 2260667               0.0           0.0                 0.0

          num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  \
 0                       3.0           100.0               0.0
 1                       6.0            95.0               0.0
 2                       0.0           100.0               0.0
 3                       3.0           100.0             100.0
 4                       5.0            92.3               0.0
 ...                     ...             ...               ...
 2260663                 3.0           100.0              66.7
 2260664                 1.0            76.9              50.0
 2260665                 1.0           100.0             100.0
 2260666                 3.0            88.2               0.0
 2260667                 3.0           100.0              20.0

          pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  \
 0                         1.0        0.0          60124.0            16901.0
 1                         1.0        0.0         372872.0            99468.0
 2                         0.0        0.0         136927.0            11749.0
 3                         0.0        0.0         385183.0            36151.0
 4                         0.0        0.0         157548.0            29674.0
 ...                       ...        ...              ...                ...
 2260663                   0.0        0.0          73948.0            45212.0
 2260664                   0.0        0.0         382275.0            12928.0
 2260665                   0.0        0.0         203417.0            36448.0
 2260666                   0.0        0.0         118975.0            65238.0
 2260667                   0.0        0.0          50700.0            25760.0

          total_bc_limit  total_il_high_credit_limit  revol_bal_joint  \
 0               36500.0                     18124.0              NaN
 1               15000.0                     94072.0              NaN
 2               13800.0                     10000.0              NaN
 3                5000.0                     44984.0              NaN
 4                9300.0                     32332.0              NaN
 ...                 ...                         ...              ...
 2260663          6200.0                     49448.0              NaN
 2260664         11400.0                     12125.0          13710.0
 2260665          2000.0                     29317.0              NaN
 2260666         22000.0                     81975.0              NaN
 2260667         19500.0                         0.0              NaN

          sec_app_inq_last_6mths  sec_app_mort_acc  sec_app_open_acc  \
 0                           NaN               NaN               NaN
 1                           NaN               NaN               NaN
 2                           NaN               NaN               NaN
 3                           NaN               NaN               NaN
 4                           NaN               NaN               NaN
 ...                         ...               ...               ...
 2260663                     NaN               NaN               NaN
 2260664                     1.0               4.0              11.0
 2260665                     NaN               NaN               NaN
 2260666                     NaN               NaN               NaN
 2260667                     NaN               NaN               NaN

          sec_app_revol_util  sec_app_open_act_il  sec_app_num_rev_accts  \
 0                       NaN                  NaN                    NaN
 1                       NaN                  NaN                    NaN

### Number Of Missing Values By Column

In [17]:
def missing_calculator(df):
    missing_data = pd.concat([df.isna().sum(), 100 * df.isna().mean()], axis=1)
    missing_data.columns = ['count', 'missing %']
    return missing_data.sort_values(by='count', ascending=False)

In [18]:
missing_data = pd.concat([loan_data.isna().sum(), 100 * loan_data.isna().mean()], axis=1)
missing_data.columns = ['count', 'missing %']
missing_data.sort_values(by='count', ascending=False)

                                              count   missing %
id                                          2260668  100.000000
url                                         2260668  100.000000
member_id                                   2260668  100.000000
orig_projected_additional_accrued_interest  2252242   99.627278
hardship_length                             2250055   99.530537
...                                             ...         ...
out_prncp_inv                                     0    0.000000
out_prncp                                         0    0.000000
initial_list_status                               0    0.000000
hardship_flag                                     0    0.000000
addr_state                                        0    0.000000

[145 rows x 2 columns]

In [19]:
#### just showing the columns where have missing values
only_missingcolumns = missing_data[missing_data['count']!=0].sort_values(by='count', ascending=False)
pd.set_option('display.max_rows', only_missingcolumns.shape[0]+1)
print(only_missingcolumns, '\n', f'The number of columns with missing values is: {only_missingcolumns.shape[0]}')

                                              count   missing %
id                                          2260668  100.000000
url                                         2260668  100.000000
member_id                                   2260668  100.000000
orig_projected_additional_accrued_interest  2252242   99.627278
hardship_length                             2250055   99.530537
hardship_reason                             2250055   99.530537
hardship_status                             2250055   99.530537
deferral_term                               2250055   99.530537
hardship_amount                             2250055   99.530537
hardship_start_date                         2250055   99.530537
hardship_end_date                           2250055   99.530537
payment_plan_start_date                     2250055   99.530537
hardship_loan_status                        2250055   99.530537
hardship_dpd                                2250055   99.530537
hardship_payoff_balance_amount              2250055   99.530537
hardship_last_payment_amount                2250055   99.530537
hardship_type                               2250055   99.530537
debt_settlement_flag_date                   2227612   98.537777
settlement_status                           2227612   98.537777
settlement_date                             2227612   98.537777
settlement_amount                           2227612   98.537777
settlement_percentage                       2227612   98.537777
settlement_term                             2227612   98.537777
sec_app_mths_since_last_major_derog         2224726   98.410116
sec_app_revol_util                          2154484   95.302981
revol_bal_joint                             2152648   95.221766
sec_app_open_acc                            2152647   95.221722
sec_app_chargeoff_within_12_mths            2152647   95.221722
sec_app_open_act_il                         2152647   95.221722
sec_app_collections_12_mths_ex_med          2152647   95.221722
sec_app_mort_acc                            2152647   95.221722
sec_app_inq_last_6mths                      2152647   95.221722
sec_app_earliest_cr_line                    2152647   95.221722
sec_app_num_rev_accts                       2152647   95.221722
verification_status_joint                   2144938   94.880717
dti_joint                                   2139962   94.660605
annual_inc_joint                            2139958   94.660428
desc                                        2134601   94.423462
mths_since_last_record                      1901512   84.112837
mths_since_recent_bc_dlq                    1740967   77.011175
mths_since_last_major_derog                 1679893   74.309585
mths_since_recent_revol_delinq              1520309   67.250432
next_pymnt_d                                1303607   57.664681
mths_since_last_delinq                      1158502   51.246003
il_util                                     1068850   47.280273
mths_since_rcnt_il                           909924   40.250227
all_util                                     866348   38.322655
inq_last_12m                                 866130   38.313012
total_cu_tl                                  866130   38.313012
open_acc_6m                                  866130   38.313012
open_il_24m                                  866129   38.312968
open_act_il                                  866129   38.312968
inq_fi                                       866129   38.312968
max_bal_bc                                   866129   38.312968
open_rv_24m                                  866129   38.312968
open_rv_12m                                  866129   38.312968
total_bal_il                                 866129   38.312968
open_il_12m                                  866129   38.312968
mths_since_recent_inq                        295435   13.068482
emp_title                                    166969    7.385826
num_tl_120dpd_2m                             153657    6.796973
emp_length                                   146907    6.498389
mo_sin_old_il_acct                           139071    6.151766
bc_util                                       76071    3.364979
percent_bc_gt_75                              75379    3.334368
bc_open_to_buy                                74935    3.314728
mths_since_recent_bc                          73412    3.247359
pct_tl_nvr_dlq                                70431    3.115495
avg_cur_bal                                   70346    3.111735
num_rev_accts                                 70277    3.108683
mo_sin_rcnt_rev_tl_op                         70277    3.108683
mo_sin_old_rev_tl_op                          70277    3.108683
num_tl_90g_dpd_24m                            70276    3.108639
num_actv_rev_tl                               70276    3.108639
tot_coll_amt                                  70276    3.108639
tot_cur_bal                                   70276    3.108639
total_rev_hi_lim                              70276    3.108639
num_tl_op_past_12m                            70276    3.108639
num_op_rev_tl                                 70276    3.108639
num_il_tl                                     70276    3.108639
mo_sin_rcnt_tl                                70276    3.108639
num_accts_ever_120_pd                         70276    3.108639
num_actv_bc_tl                                70276    3.108639
num_rev_tl_bal_gt_0                           70276    3.108639
num_tl_30dpd                                  70276    3.108639
tot_hi_cred_lim                               70276    3.108639
num_bc_tl                                     70276    3.108639
total_il_high_credit_limit                    70276    3.108639
num_bc_sats                                   58590    2.591712
num_sats                                      58590    2.591712
acc_open_past_24mths                          50030    2.213063
mort_acc                                      50030    2.213063
total_bc_limit                                50030    2.213063
total_bal_ex_mort                             50030    2.213063
title                                         23325    1.031775
last_pymnt_d                                   2426    0.107313
revol_util                                     1802    0.079711
dti                                            1711    0.075686
pub_rec_bankruptcies                           1365    0.060380
chargeoff_within_12_mths                        145    0.006414
collections_12_mths_ex_med                      145    0.006414
tax_liens                                       105    0.004645
last_credit_pull_d                               73    0.003229
inq_last_6mths                                   30    0.001327
open_acc                                         29    0.001283
total_acc                                        29    0.001283
earliest_cr_line                                 29    0.001283
delinq_2yrs                                      29    0.001283
delinq_amnt                                      29    0.001283
acc_now_delinq                                   29    0.001283
pub_rec                                          29    0.001283
annual_inc                                        4    0.000177
zip_code                                          1    0.000044
 The number of columns with missing values is: 113

### Strategy for removing null columns

In [20]:
## missing values less than percent%
percentage = 75
less_missing = missing_data[~(missing_data['missing %'] > percentage)] 
more_missing = missing_data[missing_data['missing %'] > percentage] 
print(f"{less_missing.sort_values(by='count', ascending=False)}\nNumber of columns with less than {percentage} % missing values is:{less_missing.shape[0]}")

                                  count  missing %
mths_since_last_major_derog     1679893  74.309585
mths_since_recent_revol_delinq  1520309  67.250432
next_pymnt_d                    1303607  57.664681
mths_since_last_delinq          1158502  51.246003
il_util                         1068850  47.280273
mths_since_rcnt_il               909924  40.250227
all_util                         866348  38.322655
open_acc_6m                      866130  38.313012
inq_last_12m                     866130  38.313012
total_cu_tl                      866130  38.313012
open_rv_24m                      866129  38.312968
open_il_12m                      866129  38.312968
open_il_24m                      866129  38.312968
total_bal_il                     866129  38.312968
open_rv_12m                      866129  38.312968
open_act_il                      866129  38.312968
inq_fi                           866129  38.312968
max_bal_bc                       866129  38.312968
mths_since_recent_inq            295435  13.068482
emp_title                        166969   7.385826
num_tl_120dpd_2m                 153657   6.796973
emp_length                       146907   6.498389
mo_sin_old_il_acct               139071   6.151766
bc_util                           76071   3.364979
percent_bc_gt_75                  75379   3.334368
bc_open_to_buy                    74935   3.314728
mths_since_recent_bc              73412   3.247359
pct_tl_nvr_dlq                    70431   3.115495
avg_cur_bal                       70346   3.111735
num_rev_accts                     70277   3.108683
mo_sin_old_rev_tl_op              70277   3.108683
mo_sin_rcnt_rev_tl_op             70277   3.108683
num_rev_tl_bal_gt_0               70276   3.108639
tot_coll_amt                      70276   3.108639
total_il_high_credit_limit        70276   3.108639
tot_hi_cred_lim                   70276   3.108639
total_rev_hi_lim                  70276   3.108639
num_tl_op_past_12m                70276   3.108639
num_tl_90g_dpd_24m                70276   3.108639
num_tl_30dpd                      70276   3.108639
num_op_rev_tl                     70276   3.108639
tot_cur_bal                       70276   3.108639
num_actv_rev_tl                   70276   3.108639
num_actv_bc_tl                    70276   3.108639
mo_sin_rcnt_tl                    70276   3.108639
num_accts_ever_120_pd             70276   3.108639
num_il_tl                         70276   3.108639
num_bc_tl                         70276   3.108639
num_bc_sats                       58590   2.591712
num_sats                          58590   2.591712
acc_open_past_24mths              50030   2.213063
mort_acc                          50030   2.213063
total_bal_ex_mort                 50030   2.213063
total_bc_limit                    50030   2.213063
title                             23325   1.031775
last_pymnt_d                       2426   0.107313
revol_util                         1802   0.079711
dti                                1711   0.075686
pub_rec_bankruptcies               1365   0.060380
chargeoff_within_12_mths            145   0.006414
collections_12_mths_ex_med          145   0.006414
tax_liens                           105   0.004645
last_credit_pull_d                   73   0.003229
inq_last_6mths                       30   0.001327
delinq_2yrs                          29   0.001283
total_acc                            29   0.001283
acc_now_delinq                       29   0.001283
open_acc                             29   0.001283
pub_rec                              29   0.001283
delinq_amnt                          29   0.001283
earliest_cr_line                     29   0.001283
annual_inc                            4   0.000177
zip_code                              1   0.000044
hardship_flag                         0   0.000000
disbursement_method                   0   0.000000
loan_amnt                             0   0.000000
funded_amnt                           0   0.000000
addr_state                            0   0.000000
funded_amnt_inv                       0   0.000000
term                                  0   0.000000
int_rate                              0   0.000000
installment                           0   0.000000
grade                                 0   0.000000
sub_grade                             0   0.000000
home_ownership                        0   0.000000
verification_status                   0   0.000000
issue_d                               0   0.000000
loan_status                           0   0.000000
pymnt_plan                            0   0.000000
purpose                               0   0.000000
revol_bal                             0   0.000000
application_type                      0   0.000000
initial_list_status                   0   0.000000
out_prncp                             0   0.000000
out_prncp_inv                         0   0.000000
total_pymnt                           0   0.000000
total_pymnt_inv                       0   0.000000
total_rec_prncp                       0   0.000000
total_rec_int                         0   0.000000
total_rec_late_fee                    0   0.000000
recoveries                            0   0.000000
collection_recovery_fee               0   0.000000
last_pymnt_amnt                       0   0.000000
policy_code                           0   0.000000
debt_settlement_flag                  0   0.000000
Number of columns with less than 75 % missing values is:105

In [21]:
# columns with more than percentage% missing values
print(more_missing.index, '\n', more_missing.shape[0])

Index(['id', 'member_id', 'url', 'desc', 'mths_since_last_record',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'mths_since_recent_bc_dlq', 'revol_bal_joint',
       'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_type',
       'hardship_reason', 'hardship_status', 'deferral_term',
       'hardship_amount', 'hardship_start_date', 'hardship_end_date',
       'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
       'hardship_loan_status', 'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object')
 40

In [22]:
## missing values more than percentage%
#less_missing = missing_data[~(missing_data['missing %'] > percentage)] 
#print(f"{less_missing.sort_index()}\nNumber of columns with missing values is:{less_missing.shape[0]}")

In [23]:
#LCDataDictionary = pd.read_excel(r"C:\Users\saeed.rafieepour\Desktop\Training\Springboard DS Course\7. Data Wrangling-Capstone 2 Project\7.6 Data Wrangling capstone project two\raw data\archive\LCDataDictionary.xlsx", sheet_name=None)
#set(less_missing.sort_index().index).difference(set(LCDataDictionary['browseNotes'].BrowseNotesFile))
#set(LCDataDictionary['browseNotes'].BrowseNotesFile) & set(less_missing.sort_index().index)

In [24]:
# filter columns with more than 75% of missing values
loan_data_less75perc_na = loan_data[less_missing.index.values]

In [25]:
print(loan_data_less75perc_na.shape)

(2260668, 105)

In [26]:
missing_calculator(loan_data_less75perc_na)

                                  count  missing %
mths_since_last_major_derog     1679893  74.309585
mths_since_recent_revol_delinq  1520309  67.250432
next_pymnt_d                    1303607  57.664681
mths_since_last_delinq          1158502  51.246003
il_util                         1068850  47.280273
mths_since_rcnt_il               909924  40.250227
all_util                         866348  38.322655
open_acc_6m                      866130  38.313012
inq_last_12m                     866130  38.313012
total_cu_tl                      866130  38.313012
open_rv_24m                      866129  38.312968
open_il_12m                      866129  38.312968
open_il_24m                      866129  38.312968
total_bal_il                     866129  38.312968
open_rv_12m                      866129  38.312968
open_act_il                      866129  38.312968
inq_fi                           866129  38.312968
max_bal_bc                       866129  38.312968
mths_since_recent_inq            295435  13.068482
emp_title                        166969   7.385826
num_tl_120dpd_2m                 153657   6.796973
emp_length                       146907   6.498389
mo_sin_old_il_acct               139071   6.151766
bc_util                           76071   3.364979
percent_bc_gt_75                  75379   3.334368
bc_open_to_buy                    74935   3.314728
mths_since_recent_bc              73412   3.247359
pct_tl_nvr_dlq                    70431   3.115495
avg_cur_bal                       70346   3.111735
num_rev_accts                     70277   3.108683
mo_sin_old_rev_tl_op              70277   3.108683
mo_sin_rcnt_rev_tl_op             70277   3.108683
num_rev_tl_bal_gt_0               70276   3.108639
tot_coll_amt                      70276   3.108639
total_il_high_credit_limit        70276   3.108639
tot_hi_cred_lim                   70276   3.108639
total_rev_hi_lim                  70276   3.108639
num_tl_op_past_12m                70276   3.108639
num_tl_90g_dpd_24m                70276   3.108639
num_tl_30dpd                      70276   3.108639
num_op_rev_tl                     70276   3.108639
tot_cur_bal                       70276   3.108639
num_actv_rev_tl                   70276   3.108639
num_actv_bc_tl                    70276   3.108639
mo_sin_rcnt_tl                    70276   3.108639
num_accts_ever_120_pd             70276   3.108639
num_il_tl                         70276   3.108639
num_bc_tl                         70276   3.108639
num_bc_sats                       58590   2.591712
num_sats                          58590   2.591712
acc_open_past_24mths              50030   2.213063
mort_acc                          50030   2.213063
total_bal_ex_mort                 50030   2.213063
total_bc_limit                    50030   2.213063
title                             23325   1.031775
last_pymnt_d                       2426   0.107313
revol_util                         1802   0.079711
dti                                1711   0.075686
pub_rec_bankruptcies               1365   0.060380
chargeoff_within_12_mths            145   0.006414
collections_12_mths_ex_med          145   0.006414
tax_liens                           105   0.004645
last_credit_pull_d                   73   0.003229
inq_last_6mths                       30   0.001327
delinq_2yrs                          29   0.001283
total_acc                            29   0.001283
acc_now_delinq                       29   0.001283
open_acc                             29   0.001283
pub_rec                              29   0.001283
delinq_amnt                          29   0.001283
earliest_cr_line                     29   0.001283
annual_inc                            4   0.000177
zip_code                              1   0.000044
hardship_flag                         0   0.000000
disbursement_method                   0   0.000000
loan_amnt                             0   0.000000
funded_amnt                           0   0.000000
addr_state                            0   0.000000
funded_amnt_inv                       0   0.000000
term                                  0   0.000000
int_rate                              0   0.000000
installment                           0   0.000000
grade                                 0   0.000000
sub_grade                             0   0.000000
home_ownership                        0   0.000000
verification_status                   0   0.000000
issue_d                               0   0.000000
loan_status                           0   0.000000
pymnt_plan                            0   0.000000
purpose                               0   0.000000
revol_bal                             0   0.000000
application_type                      0   0.000000
initial_list_status                   0   0.000000
out_prncp                             0   0.000000
out_prncp_inv                         0   0.000000
total_pymnt                           0   0.000000
total_pymnt_inv                       0   0.000000
total_rec_prncp                       0   0.000000
total_rec_int                         0   0.000000
total_rec_late_fee                    0   0.000000
recoveries                            0   0.000000
collection_recovery_fee               0   0.000000
last_pymnt_amnt                       0   0.000000
policy_code                           0   0.000000
debt_settlement_flag                  0   0.000000

In [27]:
loan_data_less75perc_na.mths_since_last_major_derog[~loan_data_less75perc_na.mths_since_last_major_derog.isna()]

8          45.0
10         22.0
13          6.0
15         48.0
16         68.0
           ...
2260657    13.0
2260658    36.0
2260659    23.0
2260661    24.0
2260664    46.0
Name: mths_since_last_major_derog, Length: 580775, dtype: float64

In [28]:
feature_descriptor(['mths_since_last_major_derog', 'mths_since_recent_revol_delinq'])

array(['Months since most recent 90-day or worse rating',
       'Months since most recent revolving delinquency.'], dtype=object)

In [29]:
loan_data_less75perc_na.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,Apr-2001,1.0,NaN,9.0,1.0,4341,10.3,34.0,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0.0,NaN,1,Individual,0.0,0.0,16901.0,2.0,2.0,1.0,2.0,2.0,12560.0,69.0,2.0,7.0,2137.0,28.0,42000.0,1.0,11.0,2.0,9.0,1878.0,34360.0,5.9,0.0,0.0,140.0,212.0,1.0,1.0,0.0,1.0,2.0,NaN,0.0,2.0,5.0,3.0,3.0,16.0,7.0,18.0,5.0,9.0,0.0,0.0,0.0,3.0,100.0,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,N,Cash,N
1,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.0,Jun-1987,0.0,71.0,13.0,1.0,12315,24.2,44.0,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0.0,NaN,1,Individual,0.0,1208.0,321915.0,4.0,4.0,2.0,3.0,3.0,87153.0,88.0,4.0,5.0,998.0,57.0,50800.0,2.0,15.0,2.0,10.0,24763.0,13761.0,8.3,0.0,0.0,163.0,378.0,4.0,3.0,3.0,4.0,4.0,NaN,0.0,2.0,4.0,4.0,9.0,27.0,8.0,14.0,4.0,13.0,0.0,0.0,0.0,6.0,95.0,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,N,Cash,N
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0.0,Apr-2011,0.0,NaN,8.0,0.0,4599,19.1,13.0,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0.0,NaN,1,Individual,0.0,0.0,110299.0,0.0,1.0,0.0,2.0,14.0,7150.0,72.0,0.0,2.0,0.0,35.0,24100.0,1.0,5.0,0.0,4.0,18383.0,13800.0,0.0,0.0,0.0,87.0,92.0,15.0,14.0,2.0,77.0,14.0,NaN,0.0,0.0,3.0,3.0,3.0,4.0,6.0,7.0,3.0,8.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,N,Cash,N
3,4000,4000,4000.0,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,985xx,WA,16.74,0.0,Feb-2006,0.0,NaN,10.0,0.0,5468,78.1,13.0,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Mar-2019,Feb-2019,0.0,NaN,1,Individual,0.0,686.0,305049.0,1.0,5.0,3.0,5.0,5.0,30683.0,68.0,0.0,0.0,3761.0,70.0,7000.0,2.0,4.0,3.0,5.0,30505.0,1239.0,75.2,0.0,0.0,62.0,154.0,64.0,5.0,3.0,64.0,5.0,NaN,0.0,1.0,2.0,1.0,2.0,7.0,2.0,3.0,2.0,10.0,0.0,0.0,0.0,3.0,100.0,100.0,0.0,0.0,385183.0,36151.0,5000.0,44984.0,N,Cash,N
4,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,212xx,MD,26.35,0.0,Dec-2000,0.0,NaN,12.0,0.0,829,3.6,26.0,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,Feb-2019,731.78,Mar-2019,Feb-2019,0.0,NaN,1,Individual,0.0,0.0,116007.0,3.0,5.0,3.0,5.0,4.0,28845.0,89.0,2.0,4.0,516.0,54.0,23100.0,1.0,0.0,0.0,9.0,9667.0,8471.0,8.9,0.0,0.0,53.0,216.0,2.0,2.0,2.0,2.0,13.0,NaN,0.0,2.0,2.0,3.0,8.0,9.0,6.0,15.0,2.0,12.0,0.0,0.0,0.0,5.0,92.3,0.0,0.0,0.0,157548.0,29674.0,9300.0,32332.0,N,Cash,N

In [30]:
(loan_data_less75perc_na.loan_amnt==loan_data_less75perc_na.funded_amnt_inv).value_counts()

True     2109166
False     151502
dtype: int64

In [31]:
feature_descriptor(['loan_amnt','funded_amnt','funded_amnt_inv'])

array(['The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.',
       'The total amount committed to that loan at that point in time.',
       'The total amount committed by investors for that loan at that point in time.'],
      dtype=object)

In [32]:
# drop NA rows
loan_data_less75perc_na_ = loan_data_less75perc_na.dropna()

In [33]:
loan_data_less75perc_na_.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
8,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Legal Assistant III,10+ years,MORTGAGE,53580.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,327xx,FL,21.16,0.0,Aug-1998,1.0,32.0,8.0,0.0,8018,35.2,38.0,w,4786.79,4786.79,353.89,353.89,213.21,140.68,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0.0,45.0,1,Individual,0.0,0.0,41882.0,5.0,2.0,5.0,5.0,3.0,33864.0,98.0,1.0,6.0,3132.0,73.0,22800.0,2.0,1.0,4.0,12.0,5235.0,13786.0,35.9,0.0,0.0,145.0,244.0,6.0,3.0,3.0,6.0,2.0,32.0,2.0,4.0,5.0,5.0,10.0,20.0,6.0,15.0,5.0,8.0,0.0,0.0,0.0,6.0,78.9,60.0,0.0,0.0,57426.0,41882.0,21500.0,34626.0,N,Cash,N
15,3500,3500,3500.0,36 months,16.14,123.30,C,C4,respritory therapist,10+ years,MORTGAGE,80000.0,Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,604xx,IL,13.63,0.0,Dec-1988,0.0,43.0,7.0,0.0,8952,58.5,27.0,w,3346.52,3346.52,218.36,218.36,153.48,64.88,0.0,0.0,0.0,Feb-2019,123.30,Mar-2019,Feb-2019,0.0,48.0,1,Joint App,0.0,0.0,16085.0,2.0,2.0,0.0,0.0,57.0,7133.0,26.0,3.0,4.0,3873.0,38.0,15300.0,0.0,0.0,1.0,4.0,2298.0,4127.0,48.4,0.0,0.0,144.0,360.0,4.0,4.0,2.0,7.0,7.0,117.0,7.0,1.0,3.0,2.0,3.0,10.0,5.0,15.0,3.0,7.0,0.0,0.0,0.0,3.0,76.0,50.0,0.0,0.0,42328.0,16085.0,8000.0,27028.0,N,Cash,N
18,16000,16000,16000.0,60 months,20.89,431.87,D,D4,Neonatal Nurse Practitioner,4 years,MORTGAGE,120000.0,Not Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,720xx,AR,27.57,1.0,Jul-2005,0.0,8.0,13.0,0.0,18826,82.2,37.0,w,15690.66,15690.66,835.89,835.89,309.34,526.55,0.0,0.0,0.0,Feb-2019,431.87,Mar-2019,Feb-2019,0.0,35.0,1,Individual,0.0,0.0,434239.0,1.0,6.0,1.0,4.0,4.0,247928.0,90.0,1.0,1.0,9439.0,87.0,22900.0,6.0,1.0,2.0,5.0,33403.0,430.0,96.8,0.0,0.0,136.0,146.0,12.0,4.0,2.0,12.0,4.0,8.0,2.0,2.0,4.0,2.0,5.0,24.0,6.0,10.0,4.0,13.0,0.0,0.0,0.0,2.0,86.5,100.0,0.0,0.0,444217.0,266754.0,13500.0,239338.0,N,Cash,N
23,3500,3500,3500.0,36 months,20.89,131.67,D,D4,gas attendant,10+ years,MORTGAGE,40000.0,Source Verified,Dec-2018,Current,n,car,Car financing,078xx,NJ,9.09,0.0,Oct-2004,1.0,24.0,4.0,0.0,1944,33.5,18.0,w,3357.29,3357.29,257.25,257.25,142.71,114.54,0.0,0.0,0.0,Feb-2019,131.67,Mar-2019,Feb-2019,0.0,48.0,1,Joint App,0.0,0.0,189794.0,1.0,1.0,1.0,1.0,7.0,24958.0,100.0,2.0,2.0,1317.0,87.0,5800.0,1.0,0.0,3.0,3.0,47449.0,3683.0,26.3,0.0,0.0,150.0,170.0,1.0,1.0,4.0,8.0,1.0,48.0,2.0,1.0,2.0,1.0,8.0,3.0,2.0,11.0,2.0,4.0,0.0,0.0,0.0,3.0,38.9,0.0,0.0,0.0,217000.0,26902.0,5000.0,25000.0,N,Cash,N
31,10000,10000,10000.0,60 months,19.92,264.50,D,D3,Material Handler,10+ years,MORTGAGE,80000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,648xx,MO,20.67,0.0,Apr-2005,0.0,37.0,11.0,0.0,13198,73.7,19.0,w,9801.36,9801.36,512.40,512.40,198.64,313.76,0.0,0.0,0.0,Feb-2019,264.50,Mar-2019,Feb-2019,0.0,37.0,1,Individual,0.0,116.0,110120.0,0.0,2.0,0.0,1.0,15.0,24408.0,70.0,1.0,1.0,6521.0,72.0,17900.0,0.0,0.0,1.0,2.0,10011.0,779.0,90.3,0.0,0.0,148.0,164.0,11.0,11.0,1.0,149.0,11.0,37.0,0.0,2.0,8.0,2.0,4.0,6.0,8.0,12.0,8.0,11.0,0.0,0.0,0.0,1.0,84.2,50.0,0.0,0.0,170230.0,37606.0,8000.0,55030.0,N,Cash,N

In [34]:
loan_data_less75perc_na_.shape

(98036, 105)

In [35]:
loan_data_less75perc_na_.describe().T

,count,mean,std,min,25%,50%,75%,max
loan_amnt,98036.0,14526.423967,9196.841835,1000.00,7500.0000,12000.000,20000.0000,40000.00
funded_amnt,98036.0,14526.423967,9196.841835,1000.00,7500.0000,12000.000,20000.0000,40000.00
funded_amnt_inv,98036.0,14521.661823,9195.417443,725.00,7500.0000,12000.000,20000.0000,40000.00
int_rate,98036.0,13.835739,4.877604,5.31,10.4700,13.490,16.1400,30.99
installment,98036.0,432.978771,267.406623,30.12,241.7000,361.040,571.2200,1714.54
annual_inc,98036.0,87138.443217,91638.190211,70.00,53000.0000,74000.000,102000.0000,8500000.00
dti,98036.0,19.016251,11.667435,0.00,12.4300,17.740,24.0700,999.00
delinq_2yrs,98036.0,0.768146,1.465929,0.00,0.0000,0.000,1.0000,35.00
inq_last_6mths,98036.0,0.577482,0.806818,0.00,0.0000,0.000,1.0000,5.00
mths_since_last_delinq,98036.0,33.713615,21.375022,0.00,16.0000,30.000,48.0000,161.00
open_acc,98036.0,12.378881,5.758311,2.00,8.0000,11.000,15.0000,72.00
pub_rec,98036.0,0.149527,0.566837,0.00,0.0000,0.000,0.0000,61.00
revol_bal,98036.0,12835.396803,18045.686652,0.00,4675.0000,8828.000,15485.2500,1137891.00
revol_util,98036.0,47.577782,23.756924,0.00,29.5000,47.000,65.3000,139.90
total_acc,98036.0,27.022543,11.720093,3.00,19.0000,25.000,33.0000,137.00
out_prncp,98036.0,9777.903922,7919.134874,0.00,3606.8400,7928.040,13859.6050,39595.02
out_prncp_inv,98036.0,9775.252904,7918.617757,0.00,3604.3850,7922.485,13857.4400,39595.02
total_pymnt,98036.0,6920.773691,6415.720818,54.48,2353.3975,4947.870,9339.4925,55169.52
total_pymnt_inv,98036.0,6917.971468,6412.735533,47.81,2353.3800,4946.335,9336.5275,54775.45
total_rec_prncp,98036.0,4748.520045,4736.724292,29.13,1511.4500,3272.665,6301.5300,40000.00
total_rec_int,98036.0,2170.524460,2372.456754,10.09,646.5900,1338.710,2817.9925,24013.07
total_rec_late_fee,98036.0,1.729186,13.861927,0.00,0.0000,0.000,0.0000,879.75
recoveries,98036.0,0.000000,0.000000,0.00,0.0000,0.000,0.0000,0.00
collection_recovery_fee,98036.0,0.000000,0.000000,0.00,0.0000,0.000,0.0000,0.00
last_pymnt_amnt,98036.0,470.755261,734.528594,0.01,243.1300,363.400,580.9500,36131.10
collections_12_mths_ex_med,98036.0,0.029438,0.188598,0.00,0.0000,0.000,0.0000,7.00
mths_since_last_major_derog,98036.0,45.325054,21.796671,0.00,28.0000,45.000,62.0000,190.00
policy_code,98036.0,1.000000,0.000000,1.00,1.0000,1.000,1.0000,1.00
acc_now_delinq,98036.0,0.005172,0.075199,0.00,0.0000,0.000,0.0000,3.00
tot_coll_amt,98036.0,529.517075,2732.987050,0.00,0.0000,0.000,0.0000,199308.00
tot_cur_bal,98036.0,156533.920968,162758.482710,196.00,34529.7500,96224.000,235574.2500,2470277.00
open_acc_6m,98036.0,1.100708,1.221092,0.00,0.0000,1.000,2.0000,14.00
open_act_il,98036.0,3.416775,3.153789,0.00,2.0000,2.000,4.0000,44.00
open_il_12m,98036.0,0.811141,0.967247,0.00,0.0000,1.000,1.0000,15.00
open_il_24m,98036.0,1.835683,1.606408,0.00,1.0000,1.000,3.0000,21.00
mths_since_rcnt_il,98036.0,16.251489,17.759114,0.00,6.0000,12.000,20.0000,404.00
total_bal_il,98036.0,43441.121323,48687.440197,1.00,14492.0000,28604.000,54635.7500,1466398.00
il_util,98036.0,71.255661,23.581487,0.00,57.0000,74.000,87.0000,320.00
open_rv_12m,98036.0,1.518738,1.650477,0.00,0.0000,1.000,2.0000,25.00
open_rv_24m,98036.0,3.125209,2.812794,0.00,1.0000,2.000,4.0000,60.00
max_bal_bc,98036.0,4554.440165,4214.793435,0.00,1833.0000,3464.000,5921.0000,104464.00
all_util,98036.0,61.483822,19.257103,1.00,48.0000,62.000,74.0000,186.00
total_rev_hi_lim,98036.0,27593.933086,27556.246544,200.00,12000.0000,20800.000,34500.0000,1763900.00
inq_fi,98036.0,1.403209,1.699074,0.00,0.0000,1.000,2.0000,22.00
total_cu_tl,98036.0,1.540597,2.680260,0.00,0.0000,0.000,2.0000,65.00
inq_last_12m,98036.0,2.556183,2.610698,0.00,1.0000,2.000,4.0000,40.00
acc_open_past_24mths,98036.0,5.234924,3.439228,0.00,3.0000,5.000,7.0000,61.00
avg_cur_bal,98036.0,14251.208525,15957.514259,31.00,3360.7500,8195.000,20132.0000,425387.00
bc_open_to_buy,98036.0,8881.193857,12306.988507,0.00,1517.0000,4608.000,11356.2500,507259.00
bc_util,98036.0,55.021902,28.176102,0.00,32.7000,56.400,79.2000,252.30
chargeoff_within_12_mths,98036.0,0.028663,0.185721,0.00,0.0000,0.000,0.0000,9.00
delinq_amnt,98036.0,19.501204,866.894625,0.00,0.0000,0.000,0.0000,65652.00
mo_sin_old_il_acct,98036.0,136.473224,51.435293,0.00,115.0000,137.000,161.0000,621.00
mo_sin_old_rev_tl_op,98036.0,199.292138,91.539027,14.00,135.0000,180.000,249.0000,766.00
mo_sin_rcnt_rev_tl_op,98036.0,12.511475,16.364200,0.00,3.0000,7.000,15.0000,279.00
mo_sin_rcnt_tl,98036.0,6.757548,6.343816,0.00,3.0000,5.000,9.0000,116.00
mort_acc,98036.0,1.559509,1.750168,0.00,0.0000,1.000,3.0000,31.00
mths_since_recent_bc,98036.0,24.294249,35.227489,0.00,5.0000,12.000,27.0000,608.00
mths_since_recent_inq,98036.0,6.799706,5.764398,0.00,2.0000,5.000,10.0000,24.00
mths_since_recent_revol_delinq,98036.0,40.403097,23.036947,0.00,22.0000,38.000,58.0000,190.00
num_accts_ever_120_pd,98036.0,2.199039,2.312993,0.00,1.0000,1.000,3.0000,42.00
num_actv_bc_tl,98036.0,3.492656,2.194918,0.00,2.0000,3.000,5.0000,29.00
num_actv_rev_tl,98036.0,5.537762,3.309892,0.00,3.0000,5.000,7.0000,36.00
num_bc_sats,98036.0,4.433086,2.744387,0.00,2.0000,4.000,6.0000,47.00
num_bc_tl,98036.0,7.872894,4.366638,1.00,5.0000,7.000,10.0000,77.00
num_il_tl,98036.0,10.151179,7.926192,1.00,5.0000,8.000,13.0000,113.00
num_op_rev_tl,98036.0,8.248837,4.809498,1.00,5.0000,7.000,10.0000,70.00
num_rev_accts,98036.0,14.991728,7.914669,2.00,9.0000,13.000,19.0000,105.00
num_rev_tl_bal_gt_0,98036.0,5.550818,3.314651,0.00,3.0000,5.000,7.0000,36.00
num_sats,98036.0,12.353217,5.755379,1.00,8.0000,11.000,15.0000,72.00
num_tl_120dpd_2m,98036.0,0.001418,0.038960,0.00,0.0000,0.000,0.0000,2.00
num_tl_30dpd,98036.0,0.002458,0.050134,0.00,0.0000,0.000,0.0000,2.00
num_tl_90g_dpd_24m,98036.0,0.291271,0.921268,0.00,0.0000,0.000,0.0000,35.00
num_tl_op_past_12m,98036.0,2.467716,2.023433,0.00,1.0000,2.000,3.0000,25.00
pct_tl_nvr_dlq,98036.0,82.686968,11.615984,5.00,76.7000,85.000,91.3000,100.00
percent_bc_gt_75,98036.0,37.716645,35.677192,0.00,0.0000,33.300,66.7000,100.00
pub_rec_bankruptcies,98036.0,0.070403,0.282144,0.00,0.0000,0.000,0.0000,9.00
tax_liens,98036.0,0.050124,0.424064,0.00,0.0000,0.000,0.0000,61.00
tot_hi_cred_lim,98036.0,192663.785926,180443.161665,1100.00,58066.5000,129988.000,280535.0000,2614966.00
total_bal_ex_mort,98036.0,56688.717512,53593.099407,88.00,24382.0000,41284.500,70328.7500,1550157.00
total_bc_limit,98036.0,17455.495655,16726.296482,100.00,6500.0000,12500.000,22800.0000,513700.00
total_il_high_credit_limit,98036.0,53947.020268,48446.583471,87.00,23018.7500,40709.000,69404.2500,1548183.00

### Further feature engineering

#### Exclude fully-paid loans

In [36]:
# since we do not need to study those who have fully paied their loans, we only need to deal with those
# loan status that are charged off, late payments, etc. 
pd.options.display.max_rows = 1000
default_categories = ['Default', 'Charged Off', 'Does not meet the credit policy. Status:Charged Off']
loan_data_less75perc_na[loan_data_less75perc_na['loan_status'].isin(default_categories)].describe().T

,count,mean,std,min,25%,50%,75%,max
loan_amnt,262447.0,15531.548179,8797.625728,5.000000e+02,9000.000,14275.0000,20400.000000,4.000000e+04
funded_amnt,262447.0,15522.557031,8794.095373,5.000000e+02,9000.000,14225.0000,20300.000000,4.000000e+04
funded_amnt_inv,262447.0,15486.295030,8805.472861,0.000000e+00,8950.000,14100.0000,20202.031669,4.000000e+04
int_rate,262447.0,15.708974,4.893239,5.310000e+00,12.290,15.0500,18.550000,3.099000e+01
installment,262447.0,464.288595,262.355865,1.591000e+01,275.040,402.5400,603.850000,1.717630e+03
annual_inc,262447.0,70324.951694,65258.443710,0.000000e+00,43000.000,60000.0000,85000.000000,9.500000e+06
dti,262385.0,20.144915,11.286755,0.000000e+00,13.560,19.7600,26.300000,9.990000e+02
delinq_2yrs,262444.0,0.352330,0.939374,0.000000e+00,0.000,0.0000,0.000000,2.700000e+01
inq_last_6mths,262444.0,0.792577,1.050316,0.000000e+00,0.000,0.0000,1.000000,3.300000e+01
mths_since_last_delinq,134779.0,33.744337,21.992436,0.000000e+00,15.000,30.0000,49.000000,2.260000e+02
open_acc,262444.0,11.900790,5.631747,0.000000e+00,8.000,11.0000,15.000000,7.600000e+01
pub_rec,262444.0,0.246856,0.657968,0.000000e+00,0.000,0.0000,0.000000,8.600000e+01
revol_bal,262447.0,15400.047712,19304.318620,0.000000e+00,5995.000,11081.0000,19130.000000,1.746716e+06
revol_util,262273.0,54.896732,23.845514,0.000000e+00,37.600,55.7000,73.200000,3.666000e+02
total_acc,262444.0,24.740139,12.120943,1.000000e+00,16.000,23.0000,32.000000,1.760000e+02
out_prncp,262447.0,1.335872,160.097856,0.000000e+00,0.000,0.0000,0.000000,3.713810e+04
out_prncp_inv,262447.0,1.335872,160.097856,0.000000e+00,0.000,0.0000,0.000000,3.713810e+04
total_pymnt,262447.0,8217.442167,6635.173216,0.000000e+00,3466.480,6455.7300,11065.450000,6.194753e+04
total_pymnt_inv,262447.0,8198.497151,6633.523173,0.000000e+00,3449.555,6439.1900,11048.505000,6.194753e+04
total_rec_prncp,262447.0,4364.366874,4101.459426,0.000000e+00,1512.200,3141.4600,5868.510000,3.998979e+04
total_rec_int,262447.0,2676.421733,2715.811777,0.000000e+00,851.300,1790.3000,3555.255000,2.682238e+04
total_rec_late_fee,262447.0,4.538305,16.485732,-5.100000e-09,0.000,0.0000,0.000000,8.741700e+02
recoveries,262447.0,1172.115254,1823.095505,0.000000e+00,0.000,549.1400,1675.495000,3.985955e+04
collection_recovery_fee,262447.0,194.614202,325.113039,0.000000e+00,0.000,70.9146,274.113000,7.174719e+03
last_pymnt_amnt,262447.0,472.151257,573.581740,0.000000e+00,255.140,389.6900,598.890000,3.989829e+04
collections_12_mths_ex_med,262419.0,0.021633,0.161308,0.000000e+00,0.000,0.0000,0.000000,9.000000e+00
mths_since_last_major_derog,75511.0,43.415608,21.577436,0.000000e+00,26.000,43.0000,61.000000,2.260000e+02
policy_code,262447.0,1.000000,0.000000,1.000000e+00,1.000,1.0000,1.000000,1.000000e+00
acc_now_delinq,262444.0,0.005685,0.082252,0.000000e+00,0.000,0.0000,0.000000,6.000000e+00
tot_coll_amt,251368.0,239.116383,1776.411729,0.000000e+00,0.000,0.0000,0.000000,1.469170e+05
tot_cur_bal,251368.0,118735.693724,134278.995908,0.000000e+00,27518.000,61291.0000,174778.000000,3.437283e+06
open_acc_6m,113813.0,1.187615,1.296205,0.000000e+00,0.000,1.0000,2.000000,1.800000e+01
open_act_il,113813.0,2.843427,3.045583,0.000000e+00,1.000,2.0000,3.000000,5.700000e+01
open_il_12m,113813.0,0.858566,1.050337,0.000000e+00,0.000,1.0000,1.000000,2.500000e+01
open_il_24m,113813.0,1.872044,1.783392,0.000000e+00,1.000,1.0000,3.000000,5.100000e+01
mths_since_rcnt_il,110268.0,18.517022,24.897202,0.000000e+00,6.000,11.0000,20.000000,5.110000e+02
total_bal_il,113813.0,35727.369141,41348.141320,0.000000e+00,10100.000,24533.0000,46572.000000,7.961040e+05
il_util,99566.0,73.478446,22.586666,0.000000e+00,61.000,77.0000,89.000000,5.580000e+02
open_rv_12m,113813.0,1.610255,1.691380,0.000000e+00,0.000,1.0000,2.000000,2.600000e+01
open_rv_24m,113813.0,3.424038,2.910189,0.000000e+00,1.000,3.0000,5.000000,4.900000e+01
max_bal_bc,113813.0,5157.554822,4901.124991,0.000000e+00,2071.000,3952.0000,6687.000000,2.088720e+05
all_util,113805.0,61.810131,20.073302,0.000000e+00,49.000,63.0000,76.000000,1.840000e+02
total_rev_hi_lim,251368.0,28891.709681,27983.330819,0.000000e+00,13100.000,22000.0000,36000.000000,1.998700e+06
inq_fi,113813.0,1.205908,1.711720,0.000000e+00,0.000,1.0000,2.000000,2.800000e+01
total_cu_tl,113813.0,1.540668,2.784513,0.000000e+00,0.000,0.0000,2.000000,5.400000e+01
inq_last_12m,113813.0,2.596970,2.736377,0.000000e+00,1.000,2.0000,4.000000,4.000000e+01
acc_open_past_24mths,254800.0,5.327912,3.417892,0.000000e+00,3.000,5.0000,7.000000,6.400000e+01
avg_cur_bal,251362.0,10915.258715,13198.456804,0.000000e+00,2801.000,5752.0000,14733.500000,3.558240e+05
bc_open_to_buy,251947.0,7619.061132,11920.389955,0.000000e+00,1089.000,3551.0000,9096.000000,3.275120e+05
bc_util,251784.0,63.842554,27.558528,0.000000e+00,43.900,68.2000,88.000000,2.552000e+02
chargeoff_within_12_mths,262419.0,0.009725,0.113444,0.000000e+00,0.000,0.0000,0.000000,8.000000e+00
delinq_amnt,262444.0,19.579312,989.100162,0.000000e+00,0.000,0.0000,0.000000,2.499250e+05
mo_sin_old_il_acct,243404.0,123.107850,54.184871,0.000000e+00,93.000,127.0000,151.000000,7.200000e+02
mo_sin_old_rev_tl_op,251367.0,172.015475,94.619092,2.000000e+00,109.000,154.0000,218.000000,8.420000e+02
mo_sin_rcnt_rev_tl_op,251367.0,11.336428,14.498978,0.000000e+00,3.000,7.0000,14.000000,3.720000e+02
mo_sin_rcnt_tl,251368.0,6.882228,7.890417,0.000000e+00,2.000,5.0000,9.000000,2.890000e+02
mort_acc,254800.0,1.375322,1.829336,0.000000e+00,0.000,1.0000,2.000000,2.900000e+01
mths_since_recent_bc,252144.0,20.645564,27.857224,0.000000e+00,5.000,12.0000,24.000000,6.110000e+02
mths_since_recent_inq,236348.0,6.063635,5.630953,0.000000e+00,2.000,4.0000,9.000000,2.500000e+01
mths_since_recent_revol_delinq,90690.0,35.273349,22.506489,0.000000e+00,16.000,32.0000,52.000000,2.020000e+02
num_accts_ever_120_pd,251368.0,0.536226,1.341925,0.000000e+00,0.000,0.0000,1.000000,3.400000e+01
num_actv_bc_tl,251368.0,3.829266,2.364370,0.000000e+00,2.000,3.0000,5.000000,3.000000e+01
num_actv_rev_tl,251368.0,6.114155,3.541597,0.000000e+00,4.000,5.0000,8.000000,4.700000e+01
num_bc_sats,253422.0,4.815738,3.017573,0.000000e+00,3.000,4.0000,6.000000,4.400000e+01
num_bc_tl,251368.0,7.951267,4.782769,0.000000e+00,5.000,7.0000,10.000000,5.700000e+01
num_il_tl,251368.0,8.671068,7.649810,0.000000e+00,3.000,7.0000,11.000000,1.590000e+02
num_op_rev_tl,251368.0,8.581777,4.695288,0.000000e+00,5.000,8.0000,11.000000,7.200000e+01
num_rev_accts,251368.0,14.557700,8.164745,0.000000e+00,9.000,13.0000,19.000000,1.010000e+02
num_rev_tl_bal_gt_0,251368.0,6.043391,3.439657,0.000000e+00,4.000,5.0000,8.000000,4.400000e+01
num_sats,253422.0,11.937863,5.626746,0.000000e+00,8.000,11.0000,15.000000,7.600000e+01
num_tl_120dpd_2m,238243.0,0.000911,0.033590,0.000000e+00,0.000,0.0000,0.000000,6.000000e+00
num_tl_30dpd,251368.0,0.003763,0.065561,0.000000e+00,0.000,0.0000,0.000000,4.000000e+00
num_tl_90g_dpd_24m,251368.0,0.099094,0.526557,0.000000e+00,0.000,0.0000,0.000000,2.600000e+01
num_tl_op_past_12m,251368.0,2.494824,1.980784,0.000000e+00,1.000,2.0000,3.000000,3.200000e+01
pct_tl_nvr_dlq,251346.0,93.990673,8.789337,1.050000e+01,90.900,97.4000,100.000000,1.000000e+02
percent_bc_gt_75,251871.0,50.212442,35.770923,0.000000e+00,20.000,50.0000,80.000000,1.000000e+02
pub_rec_bankruptcies,262113.0,0.153506,0.404682,0.000000e+00,0.000,0.0000,0.000000,1.100000e+01
tax_liens,262436.0,0.059862,0.450552,0.000000e+00,0.000,0.0000,0.000000,8.500000e+01
tot_hi_cred_lim,251368.0,146425.232130,151252.271637,0.000000e+00,44776.000,88000.5000,208100.750000,9.999999e+06
total_bal_ex_mort,254800.0,49301.296531,44732.052437,0.000000e+00,21682.000,37843.0000,62365.000000,1.896461e+06
total_bc_limit,254800.0,18481.023870,18376.825205,0.000000e+00,6900.000,13100.0000,23800.000000,5.608000e+05
total_il_high_credit_limit,251368.0,41991.378612,41514.728214,0.000000e+00,15000.000,32091.0000,56486.000000,9.545030e+05

In [37]:
print('fico_range_high' in loan_data.columns)

False

In [38]:
# Converting zipcodes to only numbers by removing the xx from the end of them
loan_data_less75perc_na_.zip_code = loan_data_less75perc_na_.zip_code.str.replace("xx","")

C:\Users\saeed.rafieepour\AppData\Local\Temp\ipykernel_16000\3272680572.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data_less75perc_na_.zip_code = loan_data_less75perc_na_.zip_code.str.replace("xx","")

In [39]:
loan_data_less75perc_na_.zip_code

8          327
15         604
18         720
23         078
31         648
          ...
2260552    327
2260560    891
2260573    103
2260575    425
2260637    917
Name: zip_code, Length: 98036, dtype: object

### Converting categorial variables to numerical variables

In [40]:
object_dtype = data_type(loan_data_less75perc_na_)['object_dtype']

In [41]:
# Unique values of columns with object data type
# print([(i, object_dtype[i].unique()) for i in object_dtype.columns])
object_dtype.apply(lambda col: col.unique()).to_frame(name='Unique_Categories')

                                                      Unique_Categories
term                                           [ 36 months,  60 months]
grade                                             [D, C, E, B, A, F, G]
sub_grade             [D1, C4, D4, D3, E1, C3, B2, B4, B5, B1, C2, D...
emp_title             [Legal Assistant III, respritory therapist, Ne...
emp_length            [10+ years, 4 years, 5 years, 3 years, < 1 yea...
home_ownership                               [MORTGAGE, RENT, OWN, ANY]
verification_status           [Source Verified, Verified, Not Verified]
issue_d               [Dec-2018, Nov-2018, Oct-2018, Sep-2018, Aug-2...
loan_status           [Current, In Grace Period, Late (16-30 days), ...
pymnt_plan                                                       [n, y]
purpose               [debt_consolidation, credit_card, car, vacatio...
title                 [Debt consolidation, Credit card refinancing, ...
zip_code              [327, 604, 720, 078, 648, 284, 310, 087, 802, ...
addr_state            [FL, IL, AR, NJ, MO, NC, GA, CO, NY, AL, WI, C...
earliest_cr_line      [Aug-1998, Dec-1988, Jul-2005, Oct-2004, Apr-2...
initial_list_status                                              [w, f]
last_pymnt_d          [Feb-2019, Jan-2019, Dec-2018, Nov-2018, Oct-2...
next_pymnt_d                             [Mar-2019, Feb-2019, Apr-2019]
last_credit_pull_d    [Feb-2019, Dec-2018, Jan-2019, Nov-2018, Oct-2...
application_type                                [Individual, Joint App]
hardship_flag                                                    [N, Y]
disbursement_method                                   [Cash, DirectPay]
debt_settlement_flag                                             [N, Y]

In [42]:
object_dtype.apply(lambda col: col.nunique())

term                        2
grade                       7
sub_grade                  35
emp_title               36997
emp_length                 11
home_ownership              4
verification_status         3
issue_d                    37
loan_status                 5
pymnt_plan                  2
purpose                    12
title                      12
zip_code                  876
addr_state                 50
earliest_cr_line          621
initial_list_status         2
last_pymnt_d                6
next_pymnt_d                3
last_credit_pull_d         29
application_type            2
hardship_flag               2
disbursement_method         2
debt_settlement_flag        2
dtype: int64

In [43]:
#data feastures of object data type
feature_descriptor(['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d'])

array(['The month which the loan was funded',
       'Last month payment was received', 'Next scheduled payment date',
       'The most recent month LC pulled credit for this loan'],
      dtype=object)

In [44]:
#loan_data_nona_categorized
object_dtype_categorized = category_to_numeric_convertor(loan_data_less75perc_na_)

In [45]:
object_dtype_categorized.head()

,term,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,hardship_flag,disbursement_method,debt_settlement_flag
8,0,3,15,16442,1,1,1,9,0,0,2,3,304,9,87,1,1,2,9,0,0,0,0
15,0,2,13,36081,1,1,2,9,0,0,2,3,533,13,126,1,1,2,9,1,0,0,0
18,1,3,18,19259,4,1,0,9,0,0,1,2,633,2,302,1,1,2,9,0,0,0,0
23,0,3,18,34577,1,1,1,9,0,0,0,1,67,30,560,1,1,2,9,1,0,0,0
31,1,3,17,18206,1,1,0,9,0,0,2,3,573,23,41,1,1,2,9,0,0,0,0

In [46]:
object_dtype_categorized.shape

(98036, 23)

In [47]:
# Removing the date columns
# df[df.columns.difference(['b'])]
# df.drop('b', axis=1)
# df.loc[:, df.columns != 'b']

#cat_col = object_dtype_categorized.loc[:,~object_dtype_categorized.columns.isin(['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d'])]
#cat_col = object_dtype_categorized.drop(['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d'], axis=1)
cat_col = object_dtype_categorized[object_dtype_categorized.columns.difference(['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d'])]

In [48]:
cat_col.astype('category')

,addr_state,application_type,debt_settlement_flag,disbursement_method,earliest_cr_line,emp_length,emp_title,grade,hardship_flag,home_ownership,initial_list_status,loan_status,purpose,pymnt_plan,sub_grade,term,title,verification_status,zip_code
8,9,0,0,0,87,1,16442,3,0,1,1,0,2,0,15,0,3,1,304
15,13,1,0,0,126,1,36081,2,0,1,1,0,2,0,13,0,3,2,533
18,2,0,0,0,302,4,19259,3,0,1,1,0,1,0,18,1,2,0,633
23,30,1,0,0,560,1,34577,3,0,1,1,0,0,0,18,0,1,1,67
31,23,0,0,0,41,1,18206,3,0,1,1,0,2,0,17,1,3,0,573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260552,9,0,0,0,605,1,21809,1,0,1,1,0,3,0,6,0,6,2,304
2260560,32,0,0,0,561,3,19157,3,0,3,0,0,8,0,17,0,10,1,778
2260573,33,1,0,0,91,10,30649,3,0,3,0,0,2,0,16,0,3,0,88
2260575,16,0,0,0,288,1,26148,5,0,1,1,0,1,0,27,1,2,0,395
2260637,4,0,0,0,498,3,36733,3,0,3,0,0,2,0,19,0,3,1,799

In [49]:
cat_col.dtypes

addr_state               int8
application_type         int8
debt_settlement_flag     int8
disbursement_method      int8
earliest_cr_line        int16
emp_length               int8
emp_title               int32
grade                    int8
hardship_flag            int8
home_ownership           int8
initial_list_status      int8
loan_status              int8
purpose                  int8
pymnt_plan               int8
sub_grade                int8
term                     int8
title                    int8
verification_status      int8
zip_code                int16
dtype: object

In [50]:
cat_col.shape

(98036, 19)

In [51]:
cat_col.columns
loan_data_less75perc_na_.loc[:,cat_col.columns].columns

Index(['addr_state', 'application_type', 'debt_settlement_flag',
       'disbursement_method', 'earliest_cr_line', 'emp_length', 'emp_title',
       'grade', 'hardship_flag', 'home_ownership', 'initial_list_status',
       'loan_status', 'purpose', 'pymnt_plan', 'sub_grade', 'term', 'title',
       'verification_status', 'zip_code'],
      dtype='object')

In [52]:
loan_data_less75perc_na_.loc[:,cat_col.columns]

,addr_state,application_type,debt_settlement_flag,disbursement_method,earliest_cr_line,emp_length,emp_title,grade,hardship_flag,home_ownership,initial_list_status,loan_status,purpose,pymnt_plan,sub_grade,term,title,verification_status,zip_code
8,FL,Individual,N,Cash,Aug-1998,10+ years,Legal Assistant III,D,N,MORTGAGE,w,Current,debt_consolidation,n,D1,36 months,Debt consolidation,Source Verified,327
15,IL,Joint App,N,Cash,Dec-1988,10+ years,respritory therapist,C,N,MORTGAGE,w,Current,debt_consolidation,n,C4,36 months,Debt consolidation,Verified,604
18,AR,Individual,N,Cash,Jul-2005,4 years,Neonatal Nurse Practitioner,D,N,MORTGAGE,w,Current,credit_card,n,D4,60 months,Credit card refinancing,Not Verified,720
23,NJ,Joint App,N,Cash,Oct-2004,10+ years,gas attendant,D,N,MORTGAGE,w,Current,car,n,D4,36 months,Car financing,Source Verified,078
31,MO,Individual,N,Cash,Apr-2005,10+ years,Material Handler,D,N,MORTGAGE,w,Current,debt_consolidation,n,D3,60 months,Debt consolidation,Not Verified,648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260552,FL,Individual,N,Cash,Sep-2000,10+ years,Police Officer,B,N,MORTGAGE,w,Current,home_improvement,n,B2,36 months,Home improvement,Verified,327
2260560,NV,Individual,N,Cash,Oct-2005,3 years,NURSE SUPERVISOR,D,N,RENT,f,Current,other,n,D3,36 months,Other,Source Verified,891
2260573,NY,Joint App,N,Cash,Aug-2002,< 1 year,Teacher,D,N,RENT,f,Current,debt_consolidation,n,D2,36 months,Debt consolidation,Not Verified,103
2260575,KY,Individual,N,Cash,Jul-1991,10+ years,Secretary,F,N,MORTGAGE,w,Current,credit_card,n,F3,60 months,Credit card refinancing,Not Verified,425
2260637,CA,Individual,N,Cash,Nov-1993,3 years,technician,D,N,RENT,f,Current,debt_consolidation,n,D5,36 months,Debt consolidation,Source Verified,917

In [53]:
# Replace the columns in the cleaned dataframe with these categorized features
col = cat_col.columns.to_list()
loan_data_less75perc_nocat = loan_data_less75perc_na_.drop(labels=col, axis='columns')
#loan_data_less75perc_na_[col] = cat_col[col]

loan_data_less75perc_na_cat=pd.concat([loan_data_less75perc_nocat, cat_col], axis=1)

In [54]:
loan_data_less75perc_na_cat

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,issue_d,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,addr_state,application_type,debt_settlement_flag,disbursement_method,earliest_cr_line,emp_length,emp_title,grade,hardship_flag,home_ownership,initial_list_status,loan_status,purpose,pymnt_plan,sub_grade,term,title,verification_status,zip_code
8,5000,5000,5000.0,17.97,180.69,53580.0,Dec-2018,21.16,0.0,1.0,32.0,8.0,0.0,8018,35.2,38.0,4786.79,4786.79,353.89,353.89,213.21,140.68,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0.0,45.0,1,0.0,0.0,41882.0,5.0,2.0,5.0,5.0,3.0,33864.0,98.0,1.0,6.0,3132.0,73.0,22800.0,2.0,1.0,4.0,12.0,5235.0,13786.0,35.9,0.0,0.0,145.0,244.0,6.0,3.0,3.0,6.0,2.0,32.0,2.0,4.0,5.0,5.0,10.0,20.0,6.0,15.0,5.0,8.0,0.0,0.0,0.0,6.0,78.9,60.0,0.0,0.0,57426.0,41882.0,21500.0,34626.0,9,0,0,0,87,1,16442,3,0,1,1,0,2,0,15,0,3,1,304
15,3500,3500,3500.0,16.14,123.30,80000.0,Dec-2018,13.63,0.0,0.0,43.0,7.0,0.0,8952,58.5,27.0,3346.52,3346.52,218.36,218.36,153.48,64.88,0.0,0.0,0.0,Feb-2019,123.30,Mar-2019,Feb-2019,0.0,48.0,1,0.0,0.0,16085.0,2.0,2.0,0.0,0.0,57.0,7133.0,26.0,3.0,4.0,3873.0,38.0,15300.0,0.0,0.0,1.0,4.0,2298.0,4127.0,48.4,0.0,0.0,144.0,360.0,4.0,4.0,2.0,7.0,7.0,117.0,7.0,1.0,3.0,2.0,3.0,10.0,5.0,15.0,3.0,7.0,0.0,0.0,0.0,3.0,76.0,50.0,0.0,0.0,42328.0,16085.0,8000.0,27028.0,13,1,0,0,126,1,36081,2,0,1,1,0,2,0,13,0,3,2,533
18,16000,16000,16000.0,20.89,431.87,120000.0,Dec-2018,27.57,1.0,0.0,8.0,13.0,0.0,18826,82.2,37.0,15690.66,15690.66,835.89,835.89,309.34,526.55,0.0,0.0,0.0,Feb-2019,431.87,Mar-2019,Feb-2019,0.0,35.0,1,0.0,0.0,434239.0,1.0,6.0,1.0,4.0,4.0,247928.0,90.0,1.0,1.0,9439.0,87.0,22900.0,6.0,1.0,2.0,5.0,33403.0,430.0,96.8,0.0,0.0,136.0,146.0,12.0,4.0,2.0,12.0,4.0,8.0,2.0,2.0,4.0,2.0,5.0,24.0,6.0,10.0,4.0,13.0,0.0,0.0,0.0,2.0,86.5,100.0,0.0,0.0,444217.0,266754.0,13500.0,239338.0,2,0,0,0,302,4,19259,3,0,1,1,0,1,0,18,1,2,0,633
23,3500,3500,3500.0,20.89,131.67,40000.0,Dec-2018,9.09,0.0,1.0,24.0,4.0,0.0,1944,33.5,18.0,3357.29,3357.29,257.25,257.25,142.71,114.54,0.0,0.0,0.0,Feb-2019,131.67,Mar-2019,Feb-2019,0.0,48.0,1,0.0,0.0,189794.0,1.0,1.0,1.0,1.0,7.0,24958.0,100.0,2.0,2.0,1317.0,87.0,5800.0,1.0,0.0,3.0,3.0,47449.0,3683.0,26.3,0.0,0.0,150.0,170.0,1.0,1.0,4.0,8.0,1.0,48.0,2.0,1.0,2.0,1.0,8.0,3.0,2.0,11.0,2.0,4.0,0.0,0.0,0.0,3.0,38.9,0.0,0.0,0.0,217000.0,26902.0,5000.0,25000.0,30,1,0,0,560,1,34577,3,0,1,1,0,0,0,18,0,1,1,67
31,10000,10000,10000.0,19.92,264.50,80000.0,Dec-2018,20.67,0.0,0.0,37.0,11.0,0.0,13198,73.7,19.0,9801.36,9801.36,512.40,512.40,198.64,313.76,0.0,0.0,0.0,Feb-2019,264.50,Mar-2019,Feb-2019,0.0,37.0,1,0.0,116.0,110120.0,0.0,2.0,0.0,1.0,15.0,24408.0,70.0,1.0,1.0,6521.0,72.0,17900.0,0.0,0.0,1.0,2.0,10011.0,779.0,90.3,0.0,0.0,148.0,164.0,11.0,11.0,1.0,149.0,11.0,37.0,0.0,2.0,8.0,2.0,4.0,6.0,8.0,12.0,8.0,11.0,0.0,0.0,0.0,1.0,84.2,50.0,0.0,0.0,170230.0,37606.0,8000.0,55030.0,23,0,0,0,41,1,18206,3,0,1,1,0,2,0,17,1,3,0,573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260552,5000,5000,5000.0,9.93,161.18,57000.0,Oct-2017,12.76,0.0,1.0,33.0,9.0,0.0,11967,56.7,22.0,2959.43,2959.43,2576.12,2576.12,2040.57,535.55,0.0,0.0,0.0,Feb-2019,161.18,Mar-2019,Feb-2019,0.0,33.0,1,0.0,0.0,198770.0,2.0,2.0,0.0,0.0,25.0,37212.0,30.0,2.0,2.0,5153.0,50.0,21100.0,1.0,0.0,2.0,2.0,24846.0,7539.0,60.5,0.0,0.0,167.0,204.0,6.0,6.0,1.0,6.0,3.0,33.0,3.0,4.0,5.0,4.0,12.0,5.0,6.0,16.0,5.0,9.0,0.0,0.0,0.0,2.0,86.4,50.0,0.0,0.0,240799.0,49179.0,19100.0,41773.0,9,0,0,0,605,1,21809,1,0,1,1,0,3,0,6,0,6,2,304
2260560,35000,35000,35000.0,19.03,1283.50,130000.0,Oct-2017,7.87,7.0,1.0,4.0,16.0,0.0,9351,37.1,39.0,21850.33,21850.33,20499.00,20499.00,13149.67,7349.33,0.0,0.0,0.0,Feb-2019,1283.50,Mar-2019,Feb-2019,0.0,12.0,1,0.0,0.0,9719.0,1.0,1.0,0.0,0.0,35.0,368.0,3.0,1.0,2.0,2705.0,25.0,25200.0,2.0,0.0,5.0,2.0,748.0,9664.0,39.6,0.0,0.0,85.0,143.0,3.0,3.0,0.0,21.0,0.0,4.0,2.0,4.0,7.0,5.0,13.0,2.0,15.0,37.0,7.0,16.0,0.0,0.0,3.0,1.0,74.4,0.0,0.0,0.0,38454.0,9719.0,16000.0,13254.0,32,0,0,0,561,3,19157,3,0,3,0,0,8,0,17,0,10,1,778
2260573,7200,7200,7200.0,18.06,260.52,80000.0,Oct-2017,23.27,2.0,2.0,7.0,19.0,0.0,4343,8.7,63.0,4470.36,4470.36,4161.10,4161.10,2729.64,1431.46,0.0,0.0,0.0,Feb-2019,260.52,Mar-2019,Feb-2019,1.0,68.0,1,0.0,109.0,142818.0,2.0,3.0,0.0,0.0,28.0,138475.0,22.0,4.0,4.0,2521.0,13.0,50000.0,1.0,0.0,2.0,4.0,7934.0,30079.0,8.3,0.0,0.0,181.0,152.0,1.0,1.0,0.0,1.0,1.0,7.0,0.0,2.0,5.0,7.0,15.0,24.0,16.0,39.0,5.0,19.0,0.0,0.0,0.0,4.0,87.1,0.0,0.0,0.0,187439.0,142818.0,32800.0,137439.0,33,1,0,0,91,10,30649,3,0,3,0,0,2,0,16,0,3,0,88
2260575,16000,16000,16000.0,30.17,519.33,44000.0,Oct-2017,32.11,0.0,0.0,28.0,14.0,0.0,32213,59.3,27.0,13736.78,13736.78,8282.46,8282.46,2263.22,6019.24,0.0,0.0,0.0,Feb-2019,519.33,Mar-2019,Feb-2019,0.0,50.0,1,0.0,0.0,50293.0,0.0,1.0,0.0,1.0,19.0,18080.0,82.0,1.0,3.0,7871.0,66.0,54300.0,1.0,0.0,0.0,4.0,3592.0,468.0,97.1,0.0,0.0,83.0,314.0,10.0,10.0,1.0,14.0,19.0,28.0,0.0,3.0,12.0,3.0,5.0,2.0,13.0,24.0,12.0,14.0,0.0,0.0,0.0,1.0,92.6,100.0,0.0,0.0,76459.0,50293.0,16000.0,22159.0,16,0,0,0,288,1,26148,5,0,1,1,0,1,0,27,1,2,0,395
2260637,23375,23375,23375.0,21.45,886.07,80000.0,Oct-2017,20.70,1.0,0.0,18.0,6.0,0.0,6362,36.1,11.0,14789.89,14789.89,14149.26,14149.26,8585.11,5564.15,0.0,0.0,0.0,Feb-2019,886.07,Mar-2019,Feb-2019,0.0,71.0,1,0.0,0.0,44869.0,0.0,3.0,1.0,2.0,8.0,38507.0,73.0,0.0,1.0,4744.0,64.0,17600.0,1.0,0.0,1.0,3.0,7478.0,11238.0,36.1,0.0,0.0,286.0,99.0,22.0,8.0,1.0,22.0,8.0,18.0,1.0,3.0,3.0,3.0,4.0,6.0,3.0,4.0,3.0,6.0,0.0,0.0,0.0,1.0,81.8,33.3,0.0,0.0,70622.0,44869.0,17600.0,53022.0,4,0,0,0,498,3,36733,3,0,3,0,0,2,0,19,0,3,1,799

In [55]:
loan_data_less75perc_na_cat.dtypes

loan_amnt                           int64
funded_amnt                         int64
funded_amnt_inv                   float64
int_rate                          float64
installment                       float64
annual_inc                        float64
issue_d                            object
dti                               float64
delinq_2yrs                       float64
inq_last_6mths                    float64
mths_since_last_delinq            float64
open_acc                          float64
pub_rec                           float64
revol_bal                           int64
revol_util                        float64
total_acc                         float64
out_prncp                         float64
out_prncp_inv                     float64
total_pymnt                       float64
total_pymnt_inv                   float64
total_rec_prncp                   float64
total_rec_int                     float64
total_rec_late_fee                float64
recoveries                        float64
collection_recovery_fee           float64
last_pymnt_d                       object
last_pymnt_amnt                   float64
next_pymnt_d                       object
last_credit_pull_d                 object
collections_12_mths_ex_med        float64
mths_since_last_major_derog       float64
policy_code                         int64
acc_now_delinq                    float64
tot_coll_amt                      float64
tot_cur_bal                       float64
open_acc_6m                       float64
open_act_il                       float64
open_il_12m                       float64
open_il_24m                       float64
mths_since_rcnt_il                float64
total_bal_il                      float64
il_util                           float64
open_rv_12m                       float64
open_rv_24m                       float64
max_bal_bc                        float64
all_util                          float64
total_rev_hi_lim                  float64
inq_fi                            float64
total_cu_tl                       float64
inq_last_12m                      float64
acc_open_past_24mths              float64
avg_cur_bal                       float64
bc_open_to_buy                    float64
bc_util                           float64
chargeoff_within_12_mths          float64
delinq_amnt                       float64
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
addr_state                           int8
application_type                     int8
debt_settlement_flag                 int8
disbursement_method                  int8
earliest_cr_line                    int16
emp_length                           int8
emp_title                           int32
grade                                int8
hardship_flag                        int8
home_ownership                       int8
initial_list_status                  int8
loan_status                          int8
purpose                              int8
pymnt_plan                           int8
sub_grade                            int8
term                                 int8
title                                int8
verification_status                  int8
zip_code                            int16
dtype: object

#### Check for duplication accross all columns

In [56]:
duplicates = loan_data_less75perc_na_cat.duplicated(keep=False)

In [57]:
loan_data_less75perc_na_cat[duplicates]

Empty DataFrame
Columns: [loan_amnt, funded_amnt, funded_amnt_inv, int_rate, installment, annual_inc, issue_d, dti, delinq_2yrs, inq_last_6mths, mths_since_last_delinq, open_acc, pub_rec, revol_bal, revol_util, total_acc, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, pct_tl_nvr_dlq, percent_bc_gt_75, pub_rec_bankruptcies, tax_liens, tot_hi_cred_lim, total_bal_ex_mort, total_bc_limit, total_il_high_credit_limit, addr_state, application_type, debt_settlement_flag, disbursement_method, earliest_cr_line, emp_length, emp_title, grade, hardship_flag, home_ownership, initial_list_status, loan_status, purpose, pymnt_plan, ...]
Index: []

### Treating the dates

In [58]:
loan_data_less75perc_na_.issue_d

8          Dec-2018
15         Dec-2018
18         Dec-2018
23         Dec-2018
31         Dec-2018
             ...
2260552    Oct-2017
2260560    Oct-2017
2260573    Oct-2017
2260575    Oct-2017
2260637    Oct-2017
Name: issue_d, Length: 98036, dtype: object